{
  "sourceMaps": false,
  "isModule": false,
  "jsc": {
    "parser": {
      "syntax": "ecmascript"
    },
    "transform": {},
    "externalHelpers": true
  },
  "env": {
    "include": ["transform-named-capturing-groups-regex"]
  }
}
