{
    "module": {
        "type": "nodenext"
    },
    "jsc": {
        "target": "esnext",
        "rewriteRelativeImportExtensions": true,
        "parser": {
            "syntax": "typescript"
        },
        "transform": {
            "verbatimModuleSyntax": true
        }
    }
}
