a {
  -webkit-appearance: NONE;
  -moz-appearance: NONE;
  -ms-appearance: NONE;
  APPEARANCE: NONE;
}
b {
  -webkit-appearance: AUTO;
  -moz-appearance: AUTO;
  -ms-appearance: AUTO;
  APPEARANCE: AUTO;
}
c {
  -WEBKIT-APPEARANCE: NONE;
  -moz-appearance: NONE;
  -ms-appearance: NONE;
  APPEARANCE: NONE;
}
d {
  -webkit-appearance: NONE;
  -moz-appearance: NONE;
  -ms-appearance: NONE;
  APPEARANCE: NONE;
}
