{
    "env": {
        "targets": {
            "chrome": "95"
        }
    },
    "jsc": {
        "parser": {
            "syntax": "typescript",
            "tsx": true
        }
    },
    "sourceMaps": true
}