.class1 {
    width: calc(1px + 1);
}

.class2 {
    width: calc(100% - 120px - 60px);
}

.class3 {
    width: calc(100% - 10px - 20px);
}

.class4 {
    width: calc(1s - 50ms);
}

.class5 {
    width: calc(99.99% * 1/1 - 0rem);
}

.class6 {
    width: calc(50% + (5em + 5%));
}

.class7 {
    width: calc((100px - 1em) + (-50px + 1em));
}

.class8 {
    width: calc(10px * 0);
}

.class8 {
    width: calc(0px + 0px);
}
