{
    "jsc": {
        "parser": {
            "syntax": "typescript",
            "tsx": true,
            "decorators": true
        },
        "target": "es2022",
        "transform": {
            "decoratorMetadata": true,
            "react": {
                "refresh": true,
                "development": true
            }
        },
        "externalHelpers": true,
        "loose": false,
        "minify": {
            "compress": false,
            "mangle": false
        }
    },
    "module": {
        "type": "es6"
    },
    "minify": false,
    "isModule": "unknown"
}