{
    "jsc": {
        "transform": {
            "decoratorVersion": "2022-03"
        },
        "parser": {
            "syntax": "typescript",
            "decorators": true,
            "tsx": true
        },
        "target": "es5",
        "loose": false,
    },
    "module": {
        "type": "commonjs"
    },
    "isModule": true,
    "minify": true
}