{
  "module": {
    "type": "commonjs"
  },
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": true
    },
    "target": "es2015",
    "transform": {
      "legacyDecorator": true,
      "hidden": {
        "jest": true
      }
    }
  },
  "sourceMaps": true
}