{
    "jsc": {
        "lints": {
            "symbol-description": [
                "error",
                {
                    "enforceStringDescription": false
                }
            ]
        }
    }
}