{
    "jsc": {
        "transform": {
            "optimizer": {
                "simplify": false,
                "globals": {
                    "typeofs": {
                        "window": "object"
                    }
                }
            }
        }
    }
}
