{
    "env": {
        "targets": {
            "node": "15.10"
        }
    },
    "jsc": {
        "parser": {
            "syntax": "typescript",
            "tsx": true
        },
        "transform": {
            "react": {
                "runtime": "classic"
            }
        }
    },
    "module": {
        "type": "commonjs"
    }
}