@page{}
@page{}
@page{
  margin: 1cm;
}
@page{
  margin: 1cm;
}
@page{
  margin: 1cm;
}
@page :first {
  margin: 2cm;
}
@page :first {
  margin: 2cm;
}
@page :first {
  margin: 2cm;
}
@page :first {
  color: green;
  @top-left{
    content: "foo";
    color: blue;
  }
  @top-right{
    content: "bar";
  }
}
@page :first {
  color: green;
  @top-left{
    content: "foo";
    color: blue;
  }
  @top-right{
    content: "bar";
  }
  margin: 20px;
}
@page :right {}
@page CompanyLetterHead:first {}
@page :blank:first {}
@page :first {}
@page toc, index {}
@page :FIRST {
  margin: 2cm;
}
