{
    "$schema": "https://json.schemastore.org/swcrc",
    "jsc": {
        "baseUrl": "./",
        "paths": {
            "$utils": [
                "./src/utils.ts"
            ]
        }
    }
}