{
    "sourceMaps": false,
    "jsc": {
        "loose": true,
        "parser": {
            "syntax": "ecmascript"
        },
        "target": "es3",
        "minify": {
            "compress": true,
            "mangle": true
        }
    },
    "minify": true
}
