div {
    width: 0%;
    width: 0.1%;
    width: 100%;
    width: 100.5%;
    width: 100.1000%;
    width: 1e0%;
    width: 1e1%;
    width: 1e2%;
    width: 10e-1%;
    width: 10e-5%;
    width: 10e+2%;
}

div {
    margin: -5%;
    margin: -5.5%;
}
