{
    "jsc": {
        "transform": {
            "hidden": {
                "jest": true
            }
        },
        "target": "es2022",
        "parser": {
            "syntax": "typescript",
            "tsx": true
        }
    }
}