{
    "jsc": {
        "parser": {
            "syntax": "typescript",
            "decorators": true
        },
        "target": "es2016",
        "transform": {
            "useDefineForClassFields": false
        }
    }
}