.a {
    CURSOR: initial;
    CURSOR: INITIAL;
    accent-color: initial;
    accent-color: INITIAL;
    ACCENT-COLOR: INITIAL;
    appearance: initial;
    animation-direction: initial;
    animation-delay: initial;
    opacity: initial;
    animation-iteration-count: initial;
    animation-timing-function: initial;
    mask-position: initial;
    background-attachment: initial;
    background-position: initial;
    background-position-x: initial;
    background-repeat: initial;
    orphans: initial;
    transition-property: initial;
    transform-style: initial;
    text-overflow: initial;
    text-orientation: initial;
    text-decoration-style: initial;
    tab-size: initial;
    scroll-timeline-axis: initial;
    position: initial;
    block-overflow: initial;
    font-size: initial;
    flex-direction: initial;
    mask-border-slice: initial;
    border-image-slice: initial;
    border-image-width: initial;
    box-decoration-break: initial;
    caption-side: initial;
    direction: initial;
    empty-cells: initial;
    flex-grow: initial;
    flex-shrink: initial;
    flex-wrap: initial;
    hyphens: initial;
    image-resolution: initial;
    justify-items: initial;
    list-style-type: initial;
    mask-border-mode: initial;
    mask-composite: initial;
    masonry-auto-flow: initial;
    order: initial;
    object-fit: initial;
    border-top-left-radius: initial;
    padding-top: initial;
    padding-right: initial;
    padding-bottom: initial;
    padding-left: initial;
    padding: initial;
    overflow-clip-margin: initial;
}

.b {
    background-clip: border-box;
    background-color: transparent;
    background-origin: padding-box;
    background-size: auto auto;
    border-block-color: currentcolor;
    border-block-end-color: currentcolor;
    border-block-start-color: currentcolor;
    border-bottom-color: currentcolor;
    border-collapse: separate;
    border-inline-color: currentcolor;
    border-inline-end-color: currentcolor;
    border-inline-start-color: currentcolor;
    border-left-color: currentcolor;
    border-right-color: currentcolor;
    border-top-color: currentcolor;
    box-sizing: content-box;
    color: canvastext;
    column-rule-color: currentcolor;
    font-synthesis: weight style;
    image-orientation: from-image;
    mask-clip: border-box;
    mask-mode: match-source;
    mask-origin: border-box;
    mask-type: luminance;
    ruby-align: space-around;
    ruby-merge: separate;
    ruby-position: alternate;
    text-decoration-color: currentcolor;
    text-emphasis-color: currentcolor;
    text-emphasis-position: over right;
    transform-box: view-box;
    transform-origin: 50% 50% 0;
    vertical-align: baseline;
    writing-mode: horizontal-tb
}

.c {
    -webkit-line-clamp: initial;
    accent-color: initial;
    align-content: initial;
    align-items: initial;
    align-self: initial;
    align-tracks: initial;
    animation-delay: initial;
    animation-direction: initial;
    animation-duration: initial;
    animation-fill-mode: initial;
    animation-iteration-count: initial;
    animation-name: initial;
    animation-timing-function: initial;
    animation-timeline: initial;
    appearance: initial;
    aspect-ratio: initial;
    azimuth: initial;
    backdrop-filter: initial;
    background-attachment: initial;
    background-blend-mode: initial;
    background-image: initial;
    background-position: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-repeat: initial;
    block-overflow: initial;
    block-size: initial;
    border-block-style: initial;
    border-block-width: initial;
    border-block-end-style: initial;
    border-block-end-width: initial;
    border-block-start-style: initial;
    border-block-start-width: initial;
    border-bottom-left-radius: initial;
    border-bottom-right-radius: initial;
    border-bottom-style: initial;
    border-bottom-width: initial;
    border-end-end-radius: initial;
    border-end-start-radius: initial;
    border-image-outset: initial;
    border-image-slice: initial;
    border-image-source: initial;
    border-image-width: initial;
    border-inline-style: initial;
    border-inline-width: initial;
    border-inline-end-style: initial;
    border-inline-end-width: initial;
    border-inline-start-style: initial;
    border-inline-start-width: initial;
    border-left-style: initial;
    border-left-width: initial;
    border-right-style: initial;
    border-right-width: initial;
    border-spacing: initial;
    border-start-end-radius: initial;
    border-start-start-radius: initial;
    border-top-left-radius: initial;
    border-top-right-radius: initial;
    border-top-style: initial;
    border-top-width: initial;
    bottom: initial;
    box-decoration-break: initial;
    box-shadow: initial;
    break-after: initial;
    break-before: initial;
    break-inside: initial;
    caption-side: initial;
    caret-color: initial;
    caret-shape: initial;
    clear: initial;
    clip: initial;
    clip-path: initial;
    color-scheme: initial;
    column-count: initial;
    column-gap: initial;
    column-rule-style: initial;
    column-rule-width: initial;
    column-span: initial;
    column-width: initial;
    contain: initial;
    contain-intrinsic-block-size: initial;
    contain-intrinsic-height: initial;
    contain-intrinsic-inline-size: initial;
    contain-intrinsic-width: initial;
    content: initial;
    counter-increment: initial;
    counter-reset: initial;
    counter-set: initial;
    cursor: initial;
    direction: initial;
    empty-cells: initial;
    filter: initial;
    flex-basis: initial;
    flex-direction: initial;
    flex-grow: initial;
    flex-shrink: initial;
    flex-wrap: initial;
    float: initial;
    font-feature-settings: initial;
    font-kerning: initial;
    font-language-override: initial;
    font-optical-sizing: initial;
    font-variation-settings: initial;
    font-size: initial;
    font-size-adjust: initial;
    font-stretch: initial;
    font-style: initial;
    font-variant: initial;
    font-variant-alternates: initial;
    font-variant-caps: initial;
    font-variant-east-asian: initial;
    font-variant-ligatures: initial;
    font-variant-numeric: initial;
    font-variant-position: initial;
    font-weight: initial;
    forced-color-adjust: initial;
    grid-auto-columns: initial;
    grid-auto-flow: initial;
    grid-auto-rows: initial;
    grid-column-end: initial;
    grid-column-gap: initial;
    grid-column-start: initial;
    grid-row-end: initial;
    grid-row-gap: initial;
    grid-row-start: initial;
    grid-template-areas: initial;
    grid-template-columns: initial;
    grid-template-rows: initial;
    hanging-punctuation: initial;
    height: initial;
    hyphenate-character: initial;
    hyphens: initial;
    image-rendering: initial;
    image-resolution: initial;
    ime-mode: initial;
    initial-letter: initial;
    initial-letter-align: initial;
    inline-size: initial;
    input-security: initial;
    inset: initial;
    inset-block: initial;
    inset-block-end: initial;
    inset-block-start: initial;
    inset-inline: initial;
    inset-inline-end: initial;
    inset-inline-start: initial;
    isolation: initial;
    justify-content: initial;
    justify-items: initial;
    justify-self: initial;
    justify-tracks: initial;
    left: initial;
    letter-spacing: initial;
    line-break: initial;
    line-clamp: initial;
    line-height: initial;
    line-height-step: initial;
    list-style-image: initial;
    list-style-type: initial;
    margin-block: initial;
    margin-block-end: initial;
    margin-block-start: initial;
    margin-bottom: initial;
    margin-inline: initial;
    margin-inline-end: initial;
    margin-inline-start: initial;
    margin-left: initial;
    margin-right: initial;
    margin-top: initial;
    margin-trim: initial;
    mask-border-mode: initial;
    mask-border-outset: initial;
    mask-border-slice: initial;
    mask-border-source: initial;
    mask-border-width: initial;
    mask-composite: initial;
    mask-image: initial;
    mask-position: initial;
    mask-repeat: initial;
    mask-size: initial;
    masonry-auto-flow: initial;
    math-depth: initial;
    math-shift: initial;
    math-style: initial;
    max-block-size: initial;
    max-height: initial;
    max-inline-size: initial;
    max-lines: initial;
    max-width: initial;
    min-block-size: initial;
    min-height: initial;
    min-inline-size: initial;
    min-width: initial;
    mix-blend-mode: initial;
    object-fit: initial;
    offset-anchor: initial;
    offset-distance: initial;
    offset-path: initial;
    offset-position: initial;
    offset-rotate: initial;
    opacity: initial;
    order: initial;
    orphans: initial;
    outline-offset: initial;
    outline-style: initial;
    outline-width: initial;
    overflow-anchor: initial;
    overflow-block: initial;
    overflow-clip-margin: initial;
    overflow-inline: initial;
    overflow-wrap: initial;
    overscroll-behavior: initial;
    overscroll-behavior-block: initial;
    overscroll-behavior-inline: initial;
    overscroll-behavior-x: initial;
    overscroll-behavior-y: initial;
    padding-block: initial;
    padding-block-end: initial;
    padding-block-start: initial;
    padding-bottom: initial;
    padding-inline: initial;
    padding-inline-end: initial;
    padding-inline-start: initial;
    padding-left: initial;
    padding-right: initial;
    padding-top: initial;
    page-break-after: initial;
    page-break-before: initial;
    page-break-inside: initial;
    paint-order: initial;
    perspective: initial;
    place-content: initial;
    pointer-events: initial;
    position: initial;
    resize: initial;
    right: initial;
    rotate: initial;
    row-gap: initial;
    scale: initial;
    scrollbar-color: initial;
    scrollbar-gutter: initial;
    scrollbar-width: initial;
    scroll-behavior: initial;
    scroll-margin: initial;
    scroll-margin-block: initial;
    scroll-margin-block-start: initial;
    scroll-margin-block-end: initial;
    scroll-margin-bottom: initial;
    scroll-margin-inline: initial;
    scroll-margin-inline-start: initial;
    scroll-margin-inline-end: initial;
    scroll-margin-left: initial;
    scroll-margin-right: initial;
    scroll-margin-top: initial;
    scroll-padding: initial;
    scroll-padding-block: initial;
    scroll-padding-block-start: initial;
    scroll-padding-block-end: initial;
    scroll-padding-bottom: initial;
    scroll-padding-inline: initial;
    scroll-padding-inline-start: initial;
    scroll-padding-inline-end: initial;
    scroll-padding-left: initial;
    scroll-padding-right: initial;
    scroll-padding-top: initial;
    scroll-snap-align: initial;
    scroll-snap-coordinate: initial;
    scroll-snap-points-x: initial;
    scroll-snap-points-y: initial;
    scroll-snap-stop: initial;
    scroll-snap-type: initial;
    scroll-snap-type-x: initial;
    scroll-snap-type-y: initial;
    scroll-timeline-axis: initial;
    scroll-timeline-name: initial;
    shape-image-threshold: initial;
    shape-margin: initial;
    shape-outside: initial;
    tab-size: initial;
    table-layout: initial;
    text-align-last: initial;
    text-combine-upright: initial;
    text-decoration-line: initial;
    text-decoration-skip-ink: initial;
    text-decoration-style: initial;
    text-decoration-thickness: initial;
    text-emphasis-style: initial;
    text-indent: initial;
    text-justify: initial;
    text-orientation: initial;
    text-overflow: initial;
    text-rendering: initial;
    text-shadow: initial;
    text-transform: initial;
    text-underline-offset: initial;
    text-underline-position: initial;
    top: initial;
    touch-action: initial;
    transform: initial;
    transform-style: initial;
    transition-delay: initial;
    transition-duration: initial;
    transition-property: initial;
    transition-timing-function: initial;
    translate: initial;
    unicode-bidi: initial;
    user-select: initial;
    white-space: initial;
    widows: initial;
    width: initial;
    will-change: initial;
    word-break: initial;
    word-spacing: initial;
    word-wrap: initial;
    z-index: initial
}

@supports (CURSOR: INITIAL) {
    a {
        background: red;
    }
}

a {
    > b {
        position: initial;
    }

    @media screen {
        position: initial;
    }
}
