[submodule "ecmascript/test262-parser-tests"]
	path = ecmascript/parser/tests/test262-parser
	url = https://github.com/tc39/test262-parser-tests.git
[submodule "tests/projects/rxjs"]
	path = tests/projects/rxjs/repo
	url = https://github.com/ReactiveX/rxjs.git
[submodule "tests/projects/webpack"]
	path = tests/projects/webpack/repo
	url = https://github.com/webpack/webpack.git
[submodule "tests/projects/angular/repo"]
	path = tests/projects/angular/repo
	url = https://github.com/angular/angular.git
