# Auto detect text files and perform LF normalization
*        text=auto


*.ts    text eol=lf merge=union
*.tsx   text eol=lf merge=union
*.rs    text eol=lf merge=union
*.js    text eol=lf merge=union
*.json  text eol=lf merge=union
*.html  text eol=lf merge=union
*.debug text eol=lf merge=union

**/tests/**/*.js    linguist-detectable=false
**/tests/**/*.jsx   linguist-detectable=false
**/tests/**/*.mjs   linguist-detectable=false
**/tests/**/*.ts    linguist-detectable=false
**/tests/**/*.tsx   linguist-detectable=false
**/tests/**/*.css   linguist-detectable=false
**/tests/**/*.html   linguist-detectable=false
**/benches/**/*.js  linguist-detectable=false
**/benches/**/*.jsx linguist-detectable=false
**/benches/**/*.mjs linguist-detectable=false
**/benches/**/*.ts  linguist-detectable=false
**/benches/**/*.tsx linguist-detectable=false
**/benches/**/*.css linguist-detectable=false
**/benches/**/*.html linguist-detectable=false