[submodule "ecmascript/test262-parser-tests"]
	path = crates/swc_ecma_parser/tests/test262-parser
	url = https://github.com/tc39/test262-parser-tests.git
	shallow = true
	ignore = dirty
[submodule "html/html5lib-tests"]
	path = crates/swc_html_parser/tests/html5lib-tests
	url = https://github.com/html5lib/html5lib-tests.git
    shallow = true
    ignore = dirty
[submodule "crates/swc_ecma_transforms_proposal/tests/decorator-tests"]
	path = crates/swc_ecma_transforms_proposal/tests/decorator-tests
	url = https://github.com/evanw/decorator-tests
