# Auto detect text files and perform LF normalization
*        text=auto


*.ts    text eol=lf merge=union 
*.tsx   text eol=lf merge=union 
*.rs    text eol=lf merge=union 
*.js    text eol=lf merge=union 
*.json  text eol=lf merge=union 
*.debug text eol=lf merge=union 
