.__local__iconButton {
  --icon-rotation: 0deg;
  height: 30px;
  color: var(--accents-3);
}
   .__local__iconButton:hover:not(  :disabled) {
  color: var(--geist-foreground);
}
   .__local__iconButton:disabled {
  cursor: not-allowed;
}
   .__local__iconButton[data-open='true'] {
  --icon-rotation: 180deg;
}
      .__local__iconButton[data-open='true'].__local__chevron {
  transform: rotate(var(--icon-rotation));
}
 > span.__local__iconButton {
  display: inline-flex;
}
   .__local__iconButton.__local__chevron {
  transition: transform 150ms ease;
}
   .__local__iconButton.__local__chevron, 
   .__local__iconButton.__local__cross {
  animation: __local__bounce 150ms ease;
}
