{
    "jsc": {
        "parser": {
            "syntax": "typescript",
            "tsx": false
        },
        "loose": false,
        "minify": {
            "compress": false,
            "mangle": false
        },
        "externalHelpers": false
    },
    "module": {
        "type": "es6"
    },
    "minify": false,
    "isModule": true,
    "env": {
        "mode": "usage",
        "coreJs": "3.29"
    }
}