@supports (display: flex) {
    a {
        color: red;
    }
}

@supports (display: grid) and (display: flex) and (display: flex) {
    a {
        color: red;
    }
}

@supports (display: grid) or (display: flex) or (display: flex) {
    a {
        color: red;
    }
}

@supports (((display: flex))) {
    a {
        color: red;
    }
}

@supports (((not (((display: grid)))))) {
    div {
        float: right;
    }
}

@supports (((transform-origin: 5% 5%))) {
    div {
        float: right;
    }
}

@supports (((display: grid))) and (((not (((display: inline-grid)))))) {
    div {
        float: right;
    }
}

@supports (((display: grid))) and (((display: flex))){
    a {
        color: red;
    }
}

@supports ((display: flex) or (display: grid)) or (display: table) or (display: inline-grid) {
    div {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
    }
}

@supports (display: flex) or ((display: grid) or (display: table)) or (display: inline-grid) {
    div {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
    }
}

@supports (display: flex) or (display: grid) or ((display: table) or (display: inline-grid)) {
    div {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
    }
}
