@media (min-resolution: 2dppx), (min-resolution: 192dpi), (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2) {
  .class {
    color: red;
  }
}
@media (min-resolution: 2.5dppx), (-webkit-min-device-pixel-ratio: 2.5), (min--moz-device-pixel-ratio: 2.5) {
  .class {
    color: red;
  }
}
@media (min-resolution: 144dpi), (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5) {
  .class {
    color: red;
  }
}
@media (min-resolution: 2x), (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2) {
  .class {
    color: red;
  }
}
@media (min-resolution: 120dpi), (-webkit-min-device-pixel-ratio: 1.25), (min--moz-device-pixel-ratio: 1.25) {
  .class {
    color: red;
  }
}
@media (min-resolution: 2dppx), (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2) {
  .class {
    color: red;
  }
}
@media only screen and (min-resolution: 124.8dpi), only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3) {
  .class {
    color: red;
  }
}
@media (min-resolution: 113.38dpcm), (-webkit-min-device-pixel-ratio: 3), (min--moz-device-pixel-ratio: 3) {
  .class {
    color: red;
  }
}
::-webkit-input-placeholder {
  color: gray;
}
:-moz-placeholder {
  color: gray;
}
::-moz-placeholder {
  color: gray;
}
:-ms-input-placeholder {
  color: gray;
}
::-ms-input-placeholder {
  color: gray;
}
::placeholder {
  color: gray;
}
.image {
  background-image: url(image@1x.png);
}
@media (min-resolution: 2dppx), (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2) {
  .image {
    background-image: url(image@2x.png);
  }
}
@media (min-resolution: 33dpi), (-webkit-min-device-pixel-ratio: 0.34), (min--moz-device-pixel-ratio: 0.34) {
  .class {
    color: red;
  }
}
@media (min-resolution: 0dpi), (-webkit-min-device-pixel-ratio: 0), (min--moz-device-pixel-ratio: 0) {
  .class {
    color: red;
  }
}
@media (min-resolution: 2dppx), (min-resolution: 192dpi), (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2) {}
@media (min-resolution: 2.5dppx), (-webkit-min-device-pixel-ratio: 2.5), (min--moz-device-pixel-ratio: 2.5) {}
@media (min-resolution: 144dpi), (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5) {}
@media (min-resolution: 2x), (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2) {}
@media (min-resolution: 120dpi), (-webkit-min-device-pixel-ratio: 1.25), (min--moz-device-pixel-ratio: 1.25) {}
@media (min-resolution: 2dppx), (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2) {}
@media only screen and (min-resolution: 124.8dpi), only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3) {}
@media (min-resolution: 113.38dpcm), (-webkit-min-device-pixel-ratio: 3), (min--moz-device-pixel-ratio: 3) {}
@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (min-resolution: 2dppx) {}
@media (min-resolution: 2dppx), (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2) {}
