{
    "module": {
        "type": "commonjs"
    },
    "jsc": {
        "parser": {
            "syntax": "typescript",
            "tsx": false
        },
        "target": "es2016"
    },
    "sourceMaps": true
}
