{
    "jsc": {
        "parser": {
            "syntax": "ecmascript",
            "jsx": true
        },
        "transform": {
            "react": {
                "runtime": "classic"
            }
        }
    },
    "module": {
        "type": "commonjs"
    }
}