{
    "jsc": {
        "parser": {
            "syntax": "ecmascript",
            "jsx": false
        },
        "target": "es5",
        "loose": true,
        "minify": {
            "compress": false,
            "mangle": false
        },
        "keepClassNames": true
    },
    "module": {
        "type": "es6"
    },
    "minify": false
}
