body {
  color: red;
}
:hover {
  color: red;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  animation: foo 1s ease-out;
}
div a {
  display: none;
}
[data-test] > div {
  color: red;
}
