@page{ }
@page{}
@page{margin: 1cm}
@page {margin: 1cm}
@page {margin: 1cm;}
@page :first {margin: 2cm}
@page :first {margin: 2cm;}
@page :first{margin: 2cm;}
@page {}
@page :left {}
@page :right {}
@page LandscapeTable {}
@page CompanyLetterHead:first {} /*  identifier and pseudo page. */
@page:first {}
@page toc, index {}
@page :blank:first { }
@page {
    @top-left {}
    @bottom-center {}
}
@page :left { @left-middle {}}
@page :right{ @right-middle {}}

@page :left { @bottom-left-corner {}}
@page :right { @bottom-right-corner {}}
@page :first {
    @bottom-left-corner {}
    @bottom-right-corner {}
}
@page {}
@page :left {}
@page :first {}
@page :blank:left {}
@page artsy {}
@page artsy:left {}
@page artsy:first {}
@page :first {
    color: green;

    @top-left {
        content: "foo";
        color: blue;
    }
    @top-right {
        content: "bar";
    }
}
@page :first {
    color: green;

    @top-left {
        content: "foo";
        color: blue;
    }
    @top-right {
        content: "bar";
    }
    
    margin: 20px;
}

@page :FIRST {}
@page :LEFT {}