{
    "jsc": {
        "baseUrl": "./src",
        "target": "es2018",
        "externalHelpers": true,
        "parser": {
            "syntax": "typescript",
            "tsx": false,
            "decorators": false,
            "dynamicImport": true
        },
        "transform": {
            "react": {
                "runtime": "classic",
                "throwIfNamespace": true
            }
        },
        "paths": {
            "@moduleA/*": [
                "modules/01-moduleA/*"
            ],
            "@moduleB/*": [
                "modules/02-moduleB/*"
            ]
        }
    },
    "module": {
        "type": "es6"
    }
}