div {
    --foo: "http://www.example.com/pinkish.gif";
    background: url(var(--foo));
    background: url(image.png\999999);
    background: url(image.png\0);
    background: url(image.png\D800);
    background: url(image.png\DFFF);
    background: url(image.png\11FFFF);
    color: red;
}

.foo {
    background: url(image.png param(var(--url)));
}

.style {
    background: url("foo", "bar");
}
