@custom-media --mq-a (max-width: 30em), (max-height: 30em);
@custom-media --mq-b screen and (max-width: 30em);
@custom-media --not-mq-a not all and (--mq-a);

@media (--mq-a) {
	body {
		order: 1;
	}
}

@media (--mq-b) {
	body {
		order: 1;
	}
}

@media (--mq-a), (--mq-a) {
	body {
		order: 1;
	}
}

@media not all and (--mq-a) {
	body {
		order: 2;
	}
}

@media (--not-mq-a) {
	body {
		order: 1;
	}
}

@media not all and (--not-mq-a) {
	body {
		order: 2;
	}
}

@custom-media --not (not (min-width: 20px));

@media (--not) and (width > 1024px) {
	.a { color: green; }
}

@custom-media --not1 (not (min-width: 20px)) and (min-width: 20px);

@media (--not1) and (width > 1024px) {
	.a { color: green; }
}

@custom-media --or (min-width: 20px) or (min-width: 20px);

@media (--or) and (width > 1024px) {
	.a { color: green; }
}

@custom-media --or1 (not (min-width: 20px)) or (min-width: 20px);

@media (--or1) and (width > 1024px) {
	.a { color: green; }
}

@custom-media --and (min-width: 20px) and (min-width: 20px);

@media (--and) and (width > 1024px) {
	.a { color: green; }
}

@custom-media --and1 (not (min-width: 20px)) and (min-width: 20px);

@media (--and1) and (width > 1024px) {
	.a { color: green; }
}

/* TODO warning on such cases */
@custom-media --circular-mq-a (--circular-mq-b);
@custom-media --circular-mq-b (--circular-mq-a);

@media (--circular-mq-a) {
	body {
		order: 3;
	}
}

@media (--circular-mq-b) {
	body {
		order: 4;
	}
}

@media (--unresolved-mq) {
	body {
		order: 5;
	}
}
