@import url("narrow.css") supports(display: flex) screen and ((max-width: 30em) or (max-height: 30em));
@import url("narrow.css") supports(display: flex) ((max-width: 30em) or (max-height: 30em));
@import url("narrow.css") ((max-width: 30em) or (max-height: 30em));
@media ((max-width: 30em) or (max-height: 30em)) {
  body {
    order: 1;
  }
}
@media screen and (max-width: 30em) {
  body {
    order: 1;
  }
}
@media ((max-width: 30em) or (max-height: 30em)), ((max-width: 30em) or (max-height: 30em)) {
  body {
    order: 1;
  }
}
@media not all and ((max-width: 30em) or (max-height: 30em)) {
  body {
    order: 2;
  }
}
@media not all and ((max-width: 30em) or (max-height: 30em)) {
  body {
    order: 1;
  }
}
@media not all and ((max-width: 30em) or (max-height: 30em)) {
  body {
    order: 2;
  }
}
@media (not (min-width: 20px)) and (width > 1024px) {
  .a {
    color: green;
  }
}
@media ((not (min-width: 20px)) and (min-width: 20px)) and (width > 1024px) {
  .a {
    color: green;
  }
}
@media ((min-width: 20px) or (min-width: 20px)) and (width > 1024px) {
  .a {
    color: green;
  }
}
@media ((not (min-width: 20px)) or (min-width: 20px)) and (width > 1024px) {
  .a {
    color: green;
  }
}
@media ((min-width: 20px) and (min-width: 20px)) and (width > 1024px) {
  .a {
    color: green;
  }
}
@media ((not (min-width: 20px)) and (min-width: 20px)) and (width > 1024px) {
  .a {
    color: green;
  }
}
@media (--circular-mq-b) {
  body {
    order: 3;
  }
}
@media (--circular-mq-b) {
  body {
    order: 4;
  }
}
@media (--unresolved-mq) {
  body {
    order: 5;
  }
}
@media ((max-width: 30em) or (max-height: 30em)) {
  body {
    order: 1;
  }
}
@media (--foo) {
  body {
    background-color: red;
  }
}
@media only screen and (--screen) {
  body {
    background-color: red;
  }
}
@media (((((((max-width: 30em) or (max-height: 30em))))))) {
  body {
    order: 1;
  }
}
@media (((((((max-width: 30em) or (max-height: 30em)))))) or ((((max-width: 40em))))) {
  body {
    order: 1;
  }
}
@media (((((((max-width: 30em) or (max-height: 30em)))))) or (((((max-width: 40em) or (max-height: 40em)))))) {
  body {
    order: 1;
  }
}
@media (((((((max-width: 30em) or (max-height: 30em))))))), (((((((max-width: 30em) or (max-height: 30em))))))) {
  body {
    order: 1;
  }
}
@media (((((((max-width: 30em) or (max-height: 30em)))))) or (((((max-width: 40em) or (max-height: 40em)))))), (((((((max-width: 30em) or (max-height: 30em)))))) or (((((max-width: 40em) or (max-height: 40em)))))) {
  body {
    order: 1;
  }
}
@media ((max-width: 30em) or (max-height: 30em)) or ((max-width: 40em) or (max-height: 40em)), ((max-width: 30em) or (max-height: 30em)) or ((max-width: 40em) or (max-height: 40em)) {
  body {
    order: 1;
  }
}
@media (((((((max-width: 30em) or (max-height: 30em)) or (((((((max-width: 30em) or (max-height: 30em)))))))))))) {
  body {
    order: 1;
  }
}
@media (not ((max-width: 30em) or (max-height: 30em))) or (hover) {
  .a {
    color: red;
  }
}
