@media ((max-width: 30em) or (max-height: 30em)) {
  body {
    order: 1;
  }
}
@media (max-width: 30em) {
  body {
    order: 1;
  }
}
@media ((max-width: 30em) or (max-height: 30em)), ((max-width: 30em) or (max-height: 30em)) {
  body {
    order: 1;
  }
}
@media not all and ((max-width: 30em) or (max-height: 30em)) {
  body {
    order: 2;
  }
}
@media ((max-width: 30em) or (max-height: 30em)) {
  body {
    order: 1;
  }
}
@media not all and ((max-width: 30em) or (max-height: 30em)) {
  body {
    order: 2;
  }
}
@media (not (min-width: 20px)) and (width > 1024px) {
  .a {
    color: green;
  }
}
@media ((not (min-width: 20px)) and (min-width: 20px)) and (width > 1024px) {
  .a {
    color: green;
  }
}
@media ((min-width: 20px) or (min-width: 20px)) and (width > 1024px) {
  .a {
    color: green;
  }
}
@media ((not (min-width: 20px)) or (min-width: 20px)) and (width > 1024px) {
  .a {
    color: green;
  }
}
@media ((min-width: 20px) and (min-width: 20px)) and (width > 1024px) {
  .a {
    color: green;
  }
}
@media ((not (min-width: 20px)) and (min-width: 20px)) and (width > 1024px) {
  .a {
    color: green;
  }
}
@media (--circular-mq-b) {
  body {
    order: 3;
  }
}
@media (--circular-mq-b) {
  body {
    order: 4;
  }
}
@media (--unresolved-mq) {
  body {
    order: 5;
  }
}
