@media (min-width: 1) {
  .a {
    order: 1;
  }
}
@media (min-width: 2) {
  .a {
    order: 2;
  }
}
@media ((min-width: 3) or (min-width: 4)) and (width > 1024px) {
  .a {
    order: 3;
  }
}
@media ((color) or (hover)) and (width > 1024px) {
  .a {
    color: green;
  }
}
@media ((not (color)) or (hover)) and (width > 1024px) {
  body {
    background: red;
  }
}
@media (((color) and (min-width: 20px)) or (hover)) and (min-height: 20px) {
  .a {
    color: green;
  }
}
@media (() and (width >= 570px)) {
  body {
    background-color: red;
  }
}
