{
    "parser": "babel-eslint",
    "rules": {
        "indent": [
            "error",
            4
        ],
        "semi": [
            "error",
            "always"
        ],
        "space-unary-ops": 2,
        "no-undef": "off",
        "consistent-return": "off",
        "no-prototype-builtins": "off",
        "no-cond-assign": "off",
        "object-property-newline": [
            "error",
            {
                "allowAllPropertiesOnSameLine": false
            }
        ]
    }
}