.__local__message {
  margin-top: -1px;
  width: 100%;
  opacity: 1;
  height: 100%;
  transition: opacity 0.4s ease;
  word-break: break-word;
}
   span.__local__message, 
   div.__local__message, 
   blockquote.__local__message, 
   h1.__local__message, 
   h2.__local__message, 
   h3.__local__message, 
   h4.__local__message, 
   h5.__local__message, 
   h6.__local__message, 
   label.__local__message, 
   legend.__local__message, 
   p.__local__message, 
   q.__local__message, 
   small.__local__message, 
   strong.__local__message {
  color: inherit;
}
