{
    "jsc": {
        "parser": {
            "syntax": "typescript",
            "dynamicImport": true,
            "decorators": true
        },
        "transform": {
            "legacyDecorator": true,
            "optimizer": {
                "jsonify": {
                    "minCost": 0
                }
            }
        },
        "target": "es2022",
        "loose": true,
        "externalHelpers": false,
        "keepClassNames": false,
        "minify": {
            "compress": {
                "comparisons": false,
                "inline": 2
            },
            "mangle": true
        }
    },
    "minify": true
}