@import url(./basic.css);
@import url(./imported.css);
@import url(./simple.css);
@import url(./simple.css);
@import url(./simple.css);
@import url(./simple.css);
@import url(./simple.css);
@import url(./simple.css);
@import url(./simple.css);
.__local__class {
  color: red;
  background: url("./url/img.png"), url("./url/img.png");
}
.__local__class {
  color: red;
  background: url("./url/img.png"), url("./url/img.png");
}
.__local__class {
  color: red;
  background: url("./url/img.png"), url("./url/img.png");
}
.__local__class {
  color: red;
  background: url("./url/img.png"), url("./url/img.png");
}
.__local__class {
  color: red;
  background: url("./url/img.png"), url("./url/img.png");
}
.__local__class {
  color: red;
  background: url("./url/img.png"), url("./url/img.png"), url("./url/img.png"), url("./url/img.png");
}
.__local__class {
  color: red;
  background: url("./url/img.png"), url("./url/img.png");
}
.__local__class {
  color: red;
  background: url("./url/img.png"), url("./url/img.png");
}
.__local__class {
  color: red;
  background: url("./url/img.png"), url("./url/img.png");
}
.__local__class {
  color: red;
  background: url("./url/img.png"), url("./url/img.png");
}
.__local__class {
  background: url("./url/img.png"), url("./url/img.png"), url("./url/img.png"), url("./url/img.png"), url("./url/img.png"), url("./url/img.png"), url("./url/img.png"), url("./url/img.png"), url("./url/img.png");
}
@font-face{
  font-family: "Roboto";
  src: url("./fonts/Roboto-Regular.eot");
  src: url("./fonts/Roboto-Regular.eot#iefix") format("embedded-opentype"), url("./fonts/Roboto-Regular.woff2") format("woff"), url("./fonts/Roboto-Regular.woff") format("woff"), url("./fonts/Roboto-Regular.ttf") format("truetype"), url("./fonts/Roboto-Regular.svg#Roboto-Regular") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face{
  font-family: "Roboto";
  src: url("./fonts/Roboto-Regular.eot");
  src: url("./fonts/Roboto-Regular.eot#iefix") format("embedded-opentype"), url("./fonts/Roboto-Regular.woff2") format("woff"), url("./fonts/Roboto-Regular.woff") format("woff"), url("./fonts/Roboto-Regular.ttf") format("truetype"), url("./fonts/Roboto-Regular.svg#Roboto-Regular") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face{
  font-family: "Roboto";
  src: url("./fonts/Roboto-Regular.eot");
  src: url("./fonts/Roboto-Regular.eot#iefix") format("embedded-opentype"), url("./fonts/Roboto-Regular.woff2") format("woff"), url("./fonts/Roboto-Regular.woff") format("woff"), url("./fonts/Roboto-Regular.ttf") format("truetype"), url("./fonts/Roboto-Regular.svg#Roboto-Regular") format("svg");
  font-weight: 400;
  font-style: normal;
}
.__local__class {
  background-image: image-set(url(./url/img.png) 2x, url(./url/img.png) 3x, url(./url/img.png) 4x);
}
.__local__class {
  background-image: image-set(url(./url/img.png) 2x, url(./url/img.png) 3x, url(./url/img.png) 4x, url(./url/img.png) 5x), url('./url/img.png');
}
.__local__class {
  background-image: image-set(url(./url/img.png) 2x, url(./url/img.png) 3x, url(./url/img.png) 4x, url(./url/img.png) 5x), url('./url/img.png'), url('./url/img.png');
}
.__local__class {
  background-image: image-set(url(./url/img.png) 2x, url(./url/img.png) 3x, url(./url/img.png) 4x, url(./url/img.png) 5x), url('./url/img.png');
}
.__local__class {
  background-image: image-set(url(./url/img.png) 2x, url(./url/img.png) 3x, url(./url/img.png) 5x);
}
.__local__class {
  background-image: image-set('./url/img.png' 2x, './url/img.png' 3x, './url/img.png' 5x);
}
.__local__class {
  background-image: image-set(url(./url/img.png) 2x, url(./url/img.png) 3x, url(./url/img.png) 4x, url(./url/img.png) 5x);
}
.__local__class {
  color: red;
  background: url("./url/img.png"), url("./url/img.png");
}
.__local__class {
  color: red;
  background: url("./url/img.png"), url("./url/img.png");
}
.__local__class {
  color: red;
  background: url("./url/img.png"), url("./url/img.png");
}
.__local__class {
  background-image: image-set(url(./url/img.png) 2x, url(./url/img.png) 3x, url(./url/img.png) 4x, url(./url/img.png) 5x, url(./url/img.png) 6x, url(./url/img.png) 7x, url(./url/img.png) 8x), url('./url/img.png'), url('./url/img.png');
}
@font-face{
  font-family: "anticon";
  src: url("//at.alicdn.com/t/font_1434092639_4910953.eot?#iefix") format("embedded-opentype"), url("//at.alicdn.com/t/font_1434092639_4910953.woff") format("woff");
}
