.class {
  -webkit-background-origin: initial;
  background-origin: initial;
}
.class {
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}
