{
    "jsc": {
        "parser": {
            "syntax": "typescript",
            "tsx": true,
            "decorators": true
        },
        "loose": false,
        "minify": {
            "compress": false,
            "mangle": false
        },
        "target": "es2022"
    },
    "module": {
        "type": "es6"
    },
    "minify": false,
    "isModule": false
}