main {
  display: flex;
  flex-direction: __styled-jsx-placeholder;
  justify-content: space-between;
  margin-bottom: var(--geist-gap-double);
}
div {
  width: 100%;
  max-width: calc(100% - __styled-jsx-placeholderpx - var(--geist-gap-double));
}
@media (max-width: __styled-jsx-placeholderpx) {
  main {
    flex-direction: __styled-jsx-placeholder;
  }
  div {
    max-width: unset;
  }
}
