{
    "jsc": {
        "parser": {
            "syntax": "ecmascript",
            "jsx": true
        },
        "target": "es3",
        "loose": false,
        "minify": {
            "compress": false,
            "mangle": false
        }
    },
    "module": {
        "type": "es6"
    },
    "minify": false,
    "isModule": true,
}