{
    "jsc": {
        "transform": {
            "optimizer": {
                "simplify": false,
                "globals": {
                    "vars": {
                        "import.meta.ENV": "'production'"
                    }
                }
            }
        }
    }
}