{
    "jsc": {
        "parser": {
            "syntax": "typescript"
        },
        "baseUrl": ".",
        "paths": {
            "*": [
                "./*"
            ]
        }
    },
    "module": {
        "type": "es6",
        "resolveFully": true,
        "outFileExtension": "mjs"
    }
}