{
    "jsc": {
        "parser": {
            "syntax": "typescript",
            "decorators": true
        },
        "target": "es2022",
        "transform": {
            "decoratorVersion": "2022-03"
        }
    }
}