.__local__test {
  background: red;
}
.__local___test {
  background: blue;
}
.__local__className {
  background: red;
}
#__local__someId {
  background: green;
}
.__local__className .__local__subClass {
  color: green;
}
#__local__someId .__local__subClass {
  color: blue;
}
.__local__-a0-34a___f {
  color: red;
}
.__local__m_x_\@ {
  margin-left: auto !important;
  margin-right: auto !important;
}
.__local__B\&W\? {
  margin-left: auto !important;
  margin-right: auto !important;
}
.__local__\:\`\( {
  color: aqua;
}
.__local__1a2b3c {
  color: aliceblue;
}
#__local__\#fake-id {
  color: antiquewhite;
}
#__local__-a-b-c- {
  color: azure;
}
#__local__© {
  color: black;
}
.__local__♥ {
  background: lime;
}
.__local__© {
  background: lime;
}
.__local__😍 {
  background: lime;
}
.__local__“‘’” {
  background: lime;
}
.__local__☺☃ {
  background: lime;
}
.__local__⌘⌥ {
  background: lime;
}
.__local__𝄞♪♩♫♬ {
  background: lime;
}
.__local__💩 {
  background: lime;
}
.__local__\? {
  background: lime;
}
.__local__\@ {
  background: lime;
}
.__local__\. {
  background: lime;
}
.__local__\:\) {
  background: lime;
}
.__local__\:\`\( {
  background: lime;
}
.__local__123 {
  background: lime;
}
.__local__1a2b3c {
  background: lime;
}
.__local__\<p\> {
  background: lime;
}
.__local__\<\>\<\<\<\>\>\<\> {
  background: lime;
}
.__local__\+\+\+\+\+\+\+\+\+\+\[\>\+\+\+\+\+\+\+\>\+\+\+\+\+\+\+\+\+\+\>\+\+\+\>\+\<\<\<\<-\]\>\+\+\.\>\+\.\+\+\+\+\+\+\+\.\.\+\+\+\.\>\+\+\.\<\<\+\+\+\+\+\+\+\+\+\+\+\+\+\+\+\.\>\.\+\+\+\.------\.--------\.\>\+\.\>\. {
  background: lime;
}
.__local__\# {
  background: lime;
}
.__local__\#\# {
  background: lime;
}
.__local__\#\.\#\.\# {
  background: lime;
}
.__local___ {
  background: lime;
}
.__local__\{\} {
  background: lime;
}
.__local__\#fake-id {
  background: lime;
}
.__local__foo\.bar {
  background: lime;
}
.__local__\:hover {
  background: lime;
}
.__local__\:hover\:focus\:active {
  background: lime;
}
.__local__\[attr\=value\] {
  background: lime;
}
.__local__f\/o\/o {
  background: lime;
}
.__local__f\\o\\o {
  background: lime;
}
.__local__f\*o\*o {
  background: lime;
}
.__local__f\!o\!o {
  background: lime;
}
.__local__f\'o\'o {
  background: lime;
}
.__local__f\~o\~o {
  background: lime;
}
.__local__f\+o\+o {
  background: lime;
}
.__local__foo\/bar {
  background: hotpink;
}
.__local__foo\\bar {
  background: hotpink;
}
.__local__foo\/bar\/baz {
  background: hotpink;
}
.__local__foo\\bar\\baz {
  background: hotpink;
}
