@import url(./test-other.css) (min-width: 100px);
@value v-def from './values\
\
.css';
@value v-other from './values.css';
@value v-other from './values.css';
@value s-white from './values.css';
@value m-small from './values.css';
@value v-something from './something.css';
@value v-foo: blue;
@value v-bar: block;
@value v-primary: #BF4040;
@value s-black: black-selector;
@value m-large: (min-width: 960px);
.__local__ghi {
  color: v-def;
}
.__local__my-class {
  color: v-foo;
}
.__local__other {
  display: v-bar;
}
.__local__other-other {
  width: v-something;
}
.__local__green {
  color: v-other;
}
.__local__foo {
  prop: v-def;
  duplicate: v-other;
}
.__local__simple {
  color: red;
}
.__local__relative {
  color: yellow;
}
.__local__top-relative {
  color: gray;
}
.__local__my-module {
  color: gray;
}
.__local__alias {
  color: gainsboro;
}
.__local__alias-duplicate {
  color: gainsboro;
}
.__local__primary-selector {
  color: v-primary;
}
.__local__s-black {
  color: black;
}
@media m-large {
  .__local__header {
    padding: 0 20px;
  }
}
.__local__s-white {
  color: white;
}
@media m-small {
  .__local__header {
    padding: 20px 20px;
  }
}
@value v-ident: validIdent;
@value v-pre-defined-ident: left;
@value v-string: 'content';
@value v-string-1: '';
@value v-url: url(https://www.exammple.com/images/my-background.png);
@value v-url-1: url('https://www.exammple.com/images/my-background.png');
@value v-url-2: url("https://www.exammple.com/images/my-background.png");
@value v-integer: 100;
@value v-integer-1: -100;
@value v-integer-2: +100;
@value v-number: .60;
@value v-number-1: -456.8;
@value v-number-2: -3.4e-2;
@value v-dimension: 12px;
@value v-percentage: 100%;
@value v-hex: #fff;
@value v-comment: ;
@value v-function: rgb(0,0,0);
@value v-unicode-range: U+0025-00FF;
.__local__foobarbaz {
  v-ident: v-ident;
  v-pre-defined-ident: v-pre-defined-ident;
  v-string: v-string;
  v-string-1: v-string-1;
  v-url: v-url;
  v-url-1: v-url-1;
  v-url-2: v-url-2;
  v-integer: v-integer;
  v-integer-1: v-integer-1;
  v-integer-2: v-integer-2;
  v-number: v-number;
  v-number-1: v-number-1;
  v-number-2: v-number-2;
  v-dimension: v-dimension;
  v-percentage: v-percentage;
  v-hex: v-hex;
  v-comment: v-comment 10px v-comment;
  v-function: v-function;
  v-unicode-range: v-unicode-range;
  mutliple: v-hex v-number v-percentage;
}
a {
  content: v-string;
}
@supports (content: v-string) {
  a {
    content: v-string;
  }
}
[class~=v-string] {
  color: green;
}
.__local__url {
  background: url(../../url/img.png);
}
.__local__main {
  background: red;
}
