{
    "isModule": false,
    "jsc": {
        "externalHelpers": true
    },
    "env": {
        "targets": {
            "ie": "6"
        },
        "mode": "usage",
        "coreJs": "3.22"
    }
}