{
    "jsc": {
        "parser": {
            "syntax": "typescript",
            "dynamicImport": true
        },
        "target": "es2020",
        "baseUrl": ".",
        "paths": {
            "@print/a": ["./packages/a/src/index.ts"]
        }
    },
    "module": {
        "type": "commonjs"
    }
}
