{
    "jsc": {
        "lints": {
            "no-bitwise": [
                "error",
                {
                    "allow": [
                        "^",
                        "^="
                    ],
                    "int32Hint": true
                }
            ]
        }
    }
}