.class1 {
    width: calc(var(--mouseX) * 1px);
}

.class2 {
    width: calc(10px - (100px * var(--mouseX)));
}

.class3 {
    width: calc(10px - (100px + var(--mouseX)));
}

.class4 {
    width: calc(10px - (100px / var(--mouseX)));
}

.class5 {
    width: calc(10px - (100px - var(--mouseX)));
}

.class6 {
    width: calc(var(--popupHeight) / 2);
}

.class7 {
    width: calc(var(--popupHeight) / 2 + var(--popupWidth) / 2);
}

.class8 {
    --foo: calc(var(--bar) / 8);
}

.class9 {
    transform: translateY(calc(-100% - var(--tooltip-calculated-offset)));
}

.class10 {
    width: calc(var(--xxx, var(--yyy)) / 2);
}

.class11 {
    width: calc(var(--foo));
}

.class12 {
    width: calc(calc(var(--foo)));
}

.class13 {
    width: calc(var(--foo) + 10px);
}

.class14 {
    width: CALC(VAR(--foo) + VAR(--bar));
}

.class15 {
    width: calc(calc(var(--foo) + var(--bar)) + var(--baz));
}

.class16 {
    width: calc(var(--foo) + calc(var(--bar) + var(--baz)));
}

.class17 {
    width: calc(calc(var(--foo) - var(--bar)) - var(--baz));
}

.class18 {
    width: calc(var(--foo) - calc(var(--bar) - var(--baz)));
}

.class19 {
    width: calc(calc(var(--foo) + var(--bar)) - var(--baz));
}

.class20 {
    width: calc(var(--foo) + calc(var(--bar) - var(--baz)));
}

.class21 {
    width: calc(var(--foo) - calc(var(--bar) + var(--baz)));
}

.class22 {
    width: calc(calc(var(--foo) + var(--bar)) * var(--baz));
}

.class23 {
    width: calc(var(--foo) * calc(var(--bar) + var(--baz)));
}

.class24 {
    width: calc(calc(var(--foo) + var(--bar)) / var(--baz));
}

.class25 {
    width: calc(var(--foo) / calc(var(--bar) + var(--baz)));
}
