{
    "jsc": {
        "baseUrl": ".",
        "paths": {
            "*": [
                "src/*",
                "src2/*"
            ]
        }
    },
    "module": {
        "type": "commonjs"
    }
}