{
    "jsc": {
        "externalHelpers": true,
        "parser": {
            "syntax": "ecmascript",
            "jsx": true,
            "decorators": true
        },
    },
    "env": {
        "mode": "usage",
        "coreJs": "3.31"
    },
    "isModule": "unknown",
}