div {
    --y: /* baz */;
    --x: /* foo */ var(--y) /* bar */;
    --z: 0px;
    --foo: if(x > 5) this.width = 10;
    --bar: ;
    --bar2:;
    --yz: foo  !important          ;
}

div {
    width: var(--a, )
}

.motion-safe\:shadow-md {
    --tw-shadow:    0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    --tw-shadow-1:0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    --tw-shadow-colored:


            0 4px 6px -1px var(--tw-shadow-color),
            0 2px 4px -2px var(--tw-shadow-color);
}

*{--x:}
*{--x: }
* { --x:; }
* { --x: ; }
*{--x:!important}
*{--x: !important}
*{ --x:!important }
*{ --x: !important }
* { --x:!important; }
* { --x: !important; }
* { --x:! important ; }
* { --x: ! important ; }
* { --x:y; }
* { --x: y; }
* { --x:y ; }
* { --x:y, ; }
* { --x: var(y,); }
* { --x: var(y, ); }
* { --x:(y); }
* { --x:(y) ; }
* { --x: (y); }
* { --x:(y ); }
* { --x:( y); }
* { --x:f(y); }
* { --x:f(y) ; }
* { --x: f(y); }
* { --x:f(y ); }
* { --x:f( y); }
* { --x:[y]; }
* { --x:[y] ; }
* { --x: [y]; }
* { --x:[y ]; }
* { --x:[ y]; }
* { --x:{y}; }
* { --x:{y} ; }
* { --x: {y}; }
* { --x:{y }; }
* { --x:{ y}; }

@supports ( --x : y , z ) { a { color: red; } }
@supports ( --x : ) { a { color: red; } }
@supports (--x: ) { a { color: red; } }
@supports ( --x ) { a { color: red; } }
@supports ( ) { a { color: red; } }
@supports ( . --x : y , z ) { a { color: red; } }

* {
    counter-reset: -- --a -a;
    --dash:-;
}

#test_1 span::before {
    counter-increment: var(--dash)-;
    content: counter(--);
}

#test_2 span::before {
    counter-increment: var(--dash)-a;
    content: counter(--a);
}

#test_3 span::before {
    counter-increment: var(--dash)a;
    content: counter(-a);
}

#control_1 span::before {
    counter-increment: --;
    content: counter(--);
}

#control_2 span::before {
    counter-increment: --a;
    content: counter(--a);
}

#control_3 span::before {
    counter-increment: -a;
    content: counter(-a);
}
