{
    "module": {
        "type": "es6",
        "resolveFully": true
    },
    "jsc": {
        "baseUrl": ".",
        "parser": {
            "syntax": "ecmascript",
            "jsx": true
        }
    }
}