{
    "$schema": "http://json.schemastore.org/swcrc",
    "env": {
        "mode": "usage",
        "coreJs": "3.30.1"
    },
    "jsc": {
        "externalHelpers": true,
        "loose": true,
        "parser": {
            "decorators": true,
            "dynamicImport": true,
            "syntax": "typescript",
            "tsx": true
        },
        "target": "es2017",
        "transform": {
            "react": {
                "runtime": "automatic"
            }
        }
    },
    "module": {
        "type": "es6",
        "ignoreDynamic": true
    }
}