{
    "jsc": {
        "parser": {
            "syntax": "typescript"
        },
        "experimental": {
            "emitIsolatedDts": true
        },
        "baseUrl": "./",
        "paths": {
            "@lib/*": ["src/*"]
        }
    }
}
