* {
  --x: ;
}
* {
  --x: ;
}
* {
  --x: ;
}
* {
  --x: ;
}
* {
  --x: y;
}
* {
  --x: y;
}
* {
  --x: y;
}
* {
  --x: y,;
}
* {
  --x: var(y,);
}
* {
  --x: (y);
}
* {
  --x: (y);
}
* {
  --x: (y);
}
* {
  --x: (y );
}
* {
  --x: ( y);
}
* {
  --x: f(y);
}
* {
  --x: f(y);
}
* {
  --x: f(y);
}
* {
  --x: f(y );
}
* {
  --x: f( y);
}
* {
  --x: [y];
}
* {
  --x: [y];
}
* {
  --x: [y];
}
* {
  --x: [y ];
}
* {
  --x: [ y];
}
* {
  --x: {y};
}
* {
  --x: {y};
}
* {
  --x: {y};
}
* {
  --x: {y };
}
* {
  --x: { y};
}
