.test-rgb {
  color: rgb(178, 34, 34);
  color: rgba(178, 34, 34, 1);
  color: rgba(178, 34, 34, .5);
  color: rgba(178, 34, 34, 1);
  color: rgba(178, 34, 34, 0.5);
  color: rgba(178, 34, 34, var(--alpha-50));
  color: rgba(178, 34, 34, calc(1 / 2));
}
.test-rgba {
  color: rgb(178, 34, 34);
  color: rgbA(178, 34, 34, 1);
  color: rgba(178, 34, 34, .5);
  color: rgba(178, 34, 34, VaR(--alpha-50));
  color: rgba(178, 34, 34, CaLC(1 / 2));
}
.test-rgb-percentages {
  color: rgb(70, 13.5, 13.5);
  color: rgba(70, 13.5, 13.5, 1);
  color: rgba(70, 13.5, 13.5, 0.5);
}
.test-hsl {
  color: hsl(0, 0%, 100%);
  color: hsl(120deg, 100%, 50%);
  color: hsl(120, 100%, 50%);
  color: hsla(120, 100%, 50%, 1);
  color: hsla(120, 100%, 50%, .5);
  color: hsla(120, 100%, 50%, 100%);
  color: hsla(120, 100%, 50%, 50%);
  color: hsl(120deg, 100%, 50%);
  color: hsl(0.5turn, 100%, 50%);
  color: hsl(200grad, 100%, 50%);
  color: hsl(3.14159rad, 100%, 50%);
  color: hsla(3.14159rad, 100%, 50%, var(--alpha-50));
  color: hsla(3.14159rad, 100%, 50%, calc(1 / 2));
}
.test-hsla {
  color: hsl(120, 100%, 50%);
  color: hsla(120, 100%, 50%, 1);
  color: hsla(120, 100%, 50%, .5);
  color: hsla(120, 100%, 50%, 100%);
  color: hsla(120, 100%, 50%, 50%);
  color: hsla(120, 100%, 50%, var(--alpha-50));
  color: hsla(120, 100%, 50%, calc(1 / 2));
}
.test-hwb {
  color: hwb(0deg 0% 0%);
  color: hwb(0 0% 0%);
  color: hwb(0 0% 0% / 1);
  color: hwb(0 0% 0% / .5);
  color: hwb(0 0% 0% / 100%);
  color: hwb(0 0% 0% / 50%);
}
.test-unparseable-color-function {
  color: rgb(; );
}
.rgb-with-alpha {
  color: rgba(70, 13.5, 13.5, 0.5);
  color: rgba(0, 0, 0, 0);
}
.hsl-with-alpha {
  color: hsla(120, 100%, 50%, 50%);
  color: hsla(120, 100%, 50%, 0);
}
.test-legacy-notation-with-modern-components--rgb {
  color: rgb(50, 34, 34);
  color: rgb(178, 10, 34);
  color: rgb(178, 34, 10);
}
.test-legacy-notation-with-modern-components--rgba {
  color: rgba(50, 34, 34, 1);
  color: rgba(178, 10, 34, 1);
  color: rgba(178, 34, 10, 1);
  color: rgba(178, 34, 34, 1);
}
.test-legacy-notation-with-modern-components--hsla {
  color: hsla(120, 100%, 50%, 100%);
}
.test-ignore {
  color: rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.2);
  color: rGB(178, 34, 34);
}
.order-0 {
  order: rgba(178, 34, 34, 1) !important;
}
.order-1 {
  order: var(1, rgba(178, 34, 34, 1));
}
.order-2 {
  order: var(rgba(178, 34, 34, 1), 1);
}
.order-3 {
  order: var(rgba(178, 34, 34, 1), rgba(178, 34, 34, 1));
}
.order-4 {
  order: prergba(178 34 34/ 1);
}
.order-5 {
  order: pre rgba(178, 34, 34, 1);
}
.order-6 {
  order: pre, rgba(178, 34, 34, 1);
}
.order-7 {
  order: rgba(178, 34, 34, 1) post;
}
.order-8 {
  order: rgba(178, 34, 34, 1) post;
}
.order-9 {
  order: rgba(178, 34, 34, 1), post;
}
:root {
  --some-var: rgba(178 34 34 / 1);
}
.content {
  content: 'rgba(178 34 34 / 1)';
}
@supports (order: rgba(178 34 34/ 1)) {
  .support {
    order: rgba(178, 34, 34, 1);
  }
}
.order-0 {
  order: hsla(120, 100%, 50%, 1) !important;
}
.order-1 {
  order: var(1, hsla(120, 100%, 50%, 1));
}
.order-2 {
  order: var(hsla(120, 100%, 50%, 1), 1);
}
.order-3 {
  order: var(hsla(120, 100%, 50%, 1), hsla(120, 100%, 50%, 1));
}
.order-4 {
  order: prehsl(120 100% 50% / 1);
}
.order-5 {
  order: pre hsla(120, 100%, 50%, 1);
}
.order-6 {
  order: pre, hsla(120, 100%, 50%, 1);
}
.order-7 {
  order: hsla(120, 100%, 50%, 1) post;
}
.order-8 {
  order: hsla(120, 100%, 50%, 1) post;
}
.order-9 {
  order: hsla(120, 100%, 50%, 1), post;
}
:root {
  --some-var: hsl(120 100% 50% / 1);
}
.content {
  content: 'hsl(120 100% 50% / 1)';
}
@supports (order: hsl(120 100% 50% / 1)) {
  .support {
    order: hsla(120, 100%, 50%, 1);
  }
}
:root {
  --firebrick: rgb(40% 56.6 39);
  --firebrick-a50: rgb(40% 68.8 34.5 / 50%);
  --opacity-50: 0.5;
  --firebrick-a50-var: hsl(40 68.8% 34.5% / var(--opacity-50));
  --firebrick-rgb-a50-var: rgb(40% 68.8 34.5 / var(--opacity-50));
  --fifty: 50%;
  --firebrick-var: hsl(40 var(--fifty) 34.5% / var(--opacity-50));
}
:root {
  --rgba-functional-notation-percentage-alpha: rgba(0, 0, 0, 100%);
  --hsla-functional-notation-percentage-alpha: hsla(0, 0%, 0%, 100%);
}
