{
    "jsc": {
        "parser": {
            "syntax": "ecmascript",
            "decorators": true,
            "autoAccessors": true
        },
        "target": "es2024",
        "loose": false,
        "minify": {
            "compress": false,
            "mangle": false
        }
    },
    "module": {
        "type": "es6"
    },
    "minify": false,
    "isModule": true
}