{
    "jsc": {
      "externalHelpers": false,
      "parser": {
        "syntax": "ecmascript",
        "jsx": false
      },
      "target": "es2016"
    },
    "module": {
      "type": "es6"
    }
  }