@font-face {
    prop1: value;
    prop2: value;
}

@font-face {
    prop1: value;
    ;;;;;
    prop2: value;
}


@font-face {;;
    prop1: value;;
}

@font-face {
    prop1: value
}

@font-face {
    prop1: value;;;prop2: value
}

@font-face {
    prop1: value;;;prop2: value;
}
