{
    "jsc": {
        "lints": {
            "noRestrictedSyntax": [
                "error",
                {
                    "BinaryExpression": [
                        {
                            "message": "no 'in' expression",
                            "operator": "in"
                        }
                    ]
                }
            ]
        }
    }
}
