{
    "jsc": {
        "lints": {
            "quotes": ["error", {
                "prefer": "double",
                "avoidEscape": false,
                "allowTemplateLiterals": false
            }]
        }
    }
}