@supports (display: flex) {
  h1 {
    color: hotpink;
  }
}
@supports not (display: grid) {
  div {
    float: right;
  }
}
@supports not (not (transform-origin: 2px)) {}
@supports (display: grid) and (not (display: inline-grid)) {}
@supports not (not (display: flex)) {
  body {
    background: red;
  }
}
@supports not (not (not (not (display: flex)))) {
  body {
    background: red;
  }
}
@supports selector(A > B) {}
@supports (display: grid) and (not (display: inline-grid)) {}
@supports (display: table-cell) and (display: list-item) and (display: contents) {}
@supports not ((text-align-last: justify) or (-moz-text-align-last: justify)) {}
@supports (--foo: green) {}
@supports not selector(:is(a, b)) {}
@supports selector(:nth-child(1n of a, b)) {}
@supports (display: flex) and selector(:nth-child(1n of a, b)) {}
@supports selector(:nth-child(1n of a, b)) and (display: flex) {}
@supports ((display: flex) or (display: -webkit-box) or (display: -webkit-flex) or (display: -moz-box) or (display: -ms-flexbox)) or (display: -webkit-box) {}
@supports ((display: flex) and (display: -webkit-box) and (display: -webkit-flex) and (display: -moz-box) and (display: -ms-flexbox)) and (display: -webkit-box) {}
@supports ((display: flex) and (display: -webkit-box) and (display: -webkit-flex) and (display: -moz-box) and (display: -ms-flexbox)) or (display: -webkit-box) {}
