{
    "jsc": {
        "parser": {
            "syntax": "ecmascript"
        },
        "preserveAllComments": true,
        "target": "es2017",
        "minify": {
            "compress": true
        }
    }
}
