{
    "jsc": {
        "parser": {
            "syntax": "typescript",
            "decorators": true
        },
        "lints": {
            "no-new": [
                "error"
            ]
        }
    }
}