{
    "jsc": {
        "externalHelpers": true,
        "parser": {
            "syntax": "typescript",
            "tsx": false
        },
        "minify": {
            "compress": true,
            "mangle": true
        }
    }
}