{
    "jsc": {
        "parser": {
            "syntax": "typescript"
        },
        "paths": {
            "@/*": [
                "./*"
            ]
        },
        "baseUrl": "./",
        "rewriteRelativeImportExtensions": true
    },
    "module": {
        "type": "es6"
    }
}
