{
    "jsc": {
        "parser": {
            "syntax": "typescript",
            "tsx": true
        },
        "target": "es2022",
        "minify": {
            "compress": true
        },
        "loose": false
    },
    "isModule": true,
    "minify": true
}