{
    "jsc": {
        "parser": {
            "syntax": "typescript",
            "decorators": true
        },
        "target": "es2020",
        "paths": {
            "#lib/*": ["lib/*"]
        },
        "baseUrl": "./src"
    },
    "module": {
        "type": "es6"
    }
}
