.one {
  -webkit-writing-mode: horizontal-tb;
  -ms-writing-mode: lr-tb;
  writing-mode: horizontal-tb;
}
.two {
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
}
.three {
  -webkit-writing-mode: vertical-lr;
  -ms-writing-mode: tb-lr;
  writing-mode: vertical-lr;
}
.rtl-vertical-rl {
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: bt-rl;
  writing-mode: vertical-rl;
  direction: rtl;
}
.rtl-vertical-lr {
  -webkit-writing-mode: vertical-lr;
  -ms-writing-mode: bt-lr;
  writing-mode: vertical-lr;
  direction: rtl;
}
.rtl-horizontal-tb {
  -webkit-writing-mode: horizontal-tb;
  -ms-writing-mode: rl-tb;
  writing-mode: horizontal-tb;
  direction: rtl;
}
.rtl-horizontal-tb-override-direction {
  -webkit-writing-mode: horizontal-tb;
  -ms-writing-mode: lr-tb;
  writing-mode: horizontal-tb;
  direction: rtl;
  direction: ltr;
}
.class {
  -webkit-writing-mode: none;
  -ms-writing-mode: none;
  writing-mode: none;
}
.class {
  -webkit-writing-mode: vertical-lr;
  -ms-writing-mode: tb-lr;
  writing-mode: vertical-lr;
}
.class {
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
}
.class {
  -webkit-writing-mode: horizontal-tb;
  -ms-writing-mode: lr-tb;
  writing-mode: horizontal-tb;
}
.class {
  -webkit-writing-mode: sideways-rl;
  writing-mode: sideways-rl;
}
.class {
  -webkit-writing-mode: sideways-lr;
  writing-mode: sideways-lr;
}
@-ms-viewport{
  -ms-writing-mode: rl-tb;
  writing-mode: horizontal-tb;
  direction: rtl;
}
@-o-viewport{
  writing-mode: horizontal-tb;
  direction: rtl;
}
@viewport{
  -webkit-writing-mode: horizontal-tb;
  -ms-writing-mode: rl-tb;
  writing-mode: horizontal-tb;
  direction: rtl;
}
@-webkit-keyframes test {
  100% {
    -webkit-writing-mode: horizontal-tb;
    writing-mode: horizontal-tb;
    direction: rtl;
  }
}
@-moz-keyframes test {
  100% {
    writing-mode: horizontal-tb;
    direction: rtl;
  }
}
@-o-keyframes test {
  100% {
    writing-mode: horizontal-tb;
    direction: rtl;
  }
}
@keyframes test {
  100% {
    -webkit-writing-mode: horizontal-tb;
    -ms-writing-mode: rl-tb;
    writing-mode: horizontal-tb;
    direction: rtl;
  }
}
