{
    "jsc": {
        "transform": {
            "hidden": {
                "jest": true
            }
        }
    },
    "module": {
        "type": "commonjs"
    },
    "env": {
        "chrome": "50"
    }
}