{
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "decorators": true
    },
    "transform": {
      "legacyDecorator": false,
      "decoratorVersion": "2023-11"
    }
  },
  "isModule": true
}
