@scope {

    /* Only match links inside a light-scheme */
    a {
        color: darkmagenta;
    }
}

@scope (.light-scheme) {

    /* Only match links inside a light-scheme */
    a {
        color: darkmagenta;
    }
}

@scope to (.content > *) {
    img {
        border-radius: 50%;
    }

    .content {
        padding: 1em;
    }
}

@scope (.media-object) to (.content > *) {
    img {
        border-radius: 50%;
    }

    .content {
        padding: 1em;
    }
}

@scope TO (.content > *) {
    img {
        border-radius: 50%;
    }

    .content {
        padding: 1em;
    }
}