{
    "jsc": {
        "lints": {
            "noEmptyFunction": [
                "error",
                {
                    "functions": [
                        "simple"
                    ],
                    "methods": [
                        "async"
                    ],
                    "constructors": [
                        "all"
                    ],
                    "considerComments": false
                }
            ]
        }
    }
}