{
    "jsc": {
        "lints": {
            "noConsole": [
                "error",
                {
                    "allow": [
                        "warn"
                    ]
                }
            ]
        }
    }
}