@media print {
    body { font-size: 10pt; }
}

@media print, print {
    body { font-size: 10pt; }
}

@media (min-width: 900px), (min-width: 900px) {
    a {
        color: red;
    }
}

@media only screen and (min-width: 320px), only screen and (min-width: 320px)  {
    body { line-height: 1.4; }
}

@media (400px <= width <= 700px), (400px <= width <= 700px) {
    body { line-height: 1.4; }
}