{
    "jsc": {
        "parser": {
            "syntax": "ecmascript"
        },
        "loose": false,
        "minify": {
            "compress": {
                "hoist_props": true
            }
        },
        "target": "es2022"
    }
}