{
    // Enable minification
    "minify": true,
    // Optional, configure minification options
    "jsc": {
        "minify": {
            "compress": {
                "unused": true
            },
            "mangle": true
        },
        "target": "es2018"
    }
}