{
    "jsc": {
        "parser": {
            "syntax": "typescript",
            "tsx": true
        },
        "baseUrl": ".",
        "paths": {
            "~/*": [
                "./src/*"
            ]
        }
    }
}