@keyframes slide-right {
    from {
        margin-left: 0px;
    }
    50% {
        margin-left: 110px;
        opacity: 1;
    }
    50% {
        opacity: 0.9;
    }
    to {
        margin-left: 200px;
    }
}

@keyframes slide-right-upper-case {
    FROM {
        margin-left: 0px;
    }
    50% {
        margin-left: 110px;
        opacity: 1;
    }
    50% {
        opacity: 0.9;
    }
    TO {
        margin-left: 200px;
    }
}

@keyframes slide-right-one {
    0% {
        margin-left: 0px;
    }
    50% {
        margin-left: 110px;
        opacity: 1;
    }
    50% {
        opacity: 0.9;
    }
    100% {
        margin-left: 200px;
    }
}

@keyframes slide-right-two {
    0% {
        margin-left: 0px;
    }
    50% {
        margin-left: 110px;
        opacity: 1;
    }
    50% {
        opacity: 0.9;
    }
    100.0000% {
        margin-left: 200px;
    }
}

@keyframes slide-right-three {
    0%, 50% {
        margin-left: 0px;
    }
    60%, 100% {
        margin-left: 200px;
    }
}

@keyframes "foo" {
    0% {
        margin-left: 0px;
    }
    100% {
        margin-left: 200px;
    }
}

@keyframes " foo" {
    to {
        right: 100px;
    }
}

@keyframes "foo bar" {
    to {
        right: 100px;
    }
}

@keyframes "foo, bar" {
    to {
        right: 100px;
    }
}

@keyframes "initial" {
    to {
        right: 100px;
    }
}

@keyframes "revert-layer" {
    to {
        right: 100px;
    }
}

@keyframes "None" {
    to {
        right: 100px;
    }
}

@keyframes "none" {
    to {
        right: 100px;
    }
}

@keyframes "12" {
    to {
        left: 200px;
    }
}

/* <custom-ident> may disable the `auto/normal` keywords in the future */
/* https://github.com/w3c/csswg-drafts/issues/7431 */
@keyframes auto {
    to {
        left: 200px;
    }
}

@keyframes normal {
    to {
        left: 200px;
    }
}

@keyframes "auto" {
     10%{
        right: 200px;
    }
}

@keyframes "normal" {
    10% {
        right: 200px;
    }
}
