{
    "jsc": {
        "lints": {
            "dot-notation": [
                "error",
                {
                    "allowKeywords": false
                }
            ]
        }
    }
}
