{
    "$schema": "http://json.schemastore.org/swcrc",
    "jsc": {
        "baseUrl": ".",
        "paths": {
            "@app/*": [
                "./src/*"
            ]
        },
        "parser": {
            "syntax": "typescript",
            "decorators": true
        }
    }
}