a:any-link {
    color: red;
}

nav :any-link > span, foo > bar {
    background-color: yellow;
}

:any-link {
    order: 1;
}

:aNy-LiNK {
    order: 1.1;
}

:any-link,
ul a:any-link > span {
    order: 2;
}

:any-link :any-link {
    order: 3;
}

:any-link(.ignore) {
    order: 4;
}

.foo :any-link {
    order: 5;
}

.foo:any-link {
    order: 6;
}

.foo:is(:any-link) {
    order: 7;
}

:any-link::before,
:any-link:before {
    order: 8;
}

::before:any-link,
:before:any-link {
    order: 8.1;
}

a:any-link {
    order: 9;
}

area:any-link {
    order: 10;
}

[hidden]area:any-link {
    order: 10.1;
}

AREA:any-link {
    order: 10.2;
}

area :any-link {
    order: 11;
}

area > :any-link {
    order: 12;
}

div:any-link {
    order: 13;
}

:any-link + input[type=file]:hover::file-selector-button {
    order: 14;
}

:any-link + input[type=file]::file-selector-button:hover {
    order: 15;
}

a:any-link,
b {
    order: 16;
}

.any > .class:any-link[attr]::before:focus {
    order: 100.1;
}

.any > .class[attr]:any-link::before:focus {
    order: 100.2;
}

.any > .class[attr]:any-link::before:focus {
    order: 100.3;
}

.any > .class:any-link[attr]:focus::before {
    order: 101.1;
}

.any > .class[attr]:any-link:focus::before {
    order: 101.2;
}

.any > .class[attr]:any-link:focus::before {
    order: 101.3;
}

.any > .class[attr]:focus:any-link::before {
    order: 101.3;
}

.any + :any-link + .other {
    order: 101.4;
}