.__local__social {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-flex;
  align-items: center;
}
.__local__social   li {
  display: inline-flex;
  margin-right: 15px;
  border-right: 1px solid var(--accents-2);
  padding-right: 15px;
  box-sizing: border-box;
  line-height: 0;
}
  .__local__social   li:last-child {
  border-right: none;
  padding-right: 0;
  margin-right: 0;
}
