{
    "jsc": {
        "lints": {
            "noRestrictedSyntax": [
                "error",
                {
                    "ForInExpression": {
                        "message": "no 'for-in' expression"
                    }
                }
            ]
        }
    }
}
