.class1 {
    inset: 20px;
}

.class2 {
    inset: 20px 21px 22px 23px;
}

/* 4 -> 3 */
.class4 {
    inset: 20px 21px 22px 21px;
}

/* 4 -> 2 */
.class5 {
    inset: 20px 21px 20px 21px;
}

/* 4 -> 1 */
.class6 {
    inset: 20px 20px 20px 20px;
}

/* 3 -> 2 */
.class7 {
    inset: 20px 21px 20px;
}

/* 3 -> 1 */
.class8 {
    inset: 20px 20px 20px;
}

/* 2 -> 1 */
.class10 {
    inset: 20px 20px;
}

.class11 {
    inset: 20px 20px 21px;
}

.class12 {
    inset: var(--inset);
}

.class13 {
    inset: 20px var(--inset);
}

.class14 {
    inset: 20px 20px var(--inset);
}

.class15 {
    inset: 20px 20px 20px var(--inset);
}

.class16 {
    inset: var(--inset);
}

.class17 {
    inset: var(--inset) var(--inset);
}

.class18 {
    inset: var(--inset) var(--inset) var(--inset) var(--inset);
}

.class19 {
    INSET: 20PX 20pX 20Px 20px;
}

.class20 {
    inset: 20px 3em 20px 3em;
}

.class-21 {
    inset: 10% 5% 5% 5%;
}