{
    "jsc": {
        "externalHelpers": true,
        "parser": {
            "tsx": true,
            "syntax": "typescript",
        },
        "target": "es2020",
        "minify": {
            "compress": {}
        },
    },
}