{
    "jsc": {
        "lints": {
            "dotNotation": [
                "error",
                {
                    "allowPattern": "^prefix.*"
                }
            ]
        }
    }
}