{
    "env": {
        "targets": {
            "node": "16.8"
        }
    },
    "jsc": {
        "target": "es2019",
        "parser": {
            "syntax": "typescript",
            "tsx": true
        }
    },
    "module": {
        "type": "commonjs"
    }
}
