{
    "jsc": {
        "minify": {
            "compress": true,
            "mangle": {
                "topLevel": true
            },
            "toplevel": true
        }
    },
    "minify": true,
    "sourceMaps": true,
    "inlineSourcesContent": true,
    "isModule": true
}