:root {
  --fg-color: blue;
  --fg-\c olor-other: blue;
  --Foo: blue;
}
.box {
  background-color: rebeccapurple;
  background-color: var(--fg-color);
  border-radius: 10px;
  width: 100px;
  height: 100px;
}
.box:hover {
  animation-name: rotate\ rotate;
  animation-duration: 0.7s;
}
@keyframes rotate\ rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotat\e  {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
*|* {
  color: blue;
}
\*|* {
  color: blue;
}
@media screen and (min-width: 0�) {
  body {
    color: red;
  }
}
body {
  margin: -\1 px;
}
