{
    "jsc": {
        "parser": {
            "syntax": "typescript"
        },
        "target": "es2020",
        "baseUrl": ".",
        "paths": {
            "~/*": [
                "./*"
            ]
        }
    },
    "module": {
        "type": "commonjs"
    }
}
