{
    "jsc": {
        "parser": {
            "syntax": "typescript",
            "tsx": true
        },
        "transform": {
            "reactCompiler": {
                "environment": {
                    "enableFunctionOutlining": false
                }
            }
        }
    }
}
