{
    "jsc": {
        "lints": {
            "maxLength": [
                "error",
                {
                    "ignoreTrailingComments": true
                }
            ]
        }
    }
}