.class {
  display: block;
}
.class {
  display: flex !important;
}
.class {
  display: inline-flex;
}
.class {
  display: flex;
}
:-webkit-full-screen a {
  display: flex;
}
:fullscreen a {
  display: flex;
}
