<!-- 123 -->

div {
    color: red;
<!--

test

-->
}

div {
    color: red;
<!--

test

-->

    color: blue;
}

div {
    color: red;
<!--

test

-->;

    color: blue;
}

a {
    <!-- .class {
         color: red;
     }
}
