{
    "module": {
        "type": "nodenext"
    },
    "jsc": {
        "rewriteRelativeImportExtensions": true,
        "transform": {
            "verbatimModuleSyntax": true
        },
        "parser": {
            "syntax": "typescript"
        }
    }
}
