{
    "$schema": "https://json.schemastore.org/swcrc",
    "jsc": {
        "parser": {
            "syntax": "typescript",
            "decorators": true,
            "dynamicImport": true
        },
        "baseUrl": "./src",
        "paths": {
            "*": [
                "*"
            ]
        }
    },
    "minify": false
}