{
    "jsc": {
        "parser": {
            "syntax": "ecmascript",
            "jsx": false
        },
        "loose": false,
        "minify": {
            "compress": false,
            "mangle": false,
            "format": {
                "comments": "all"
            }
        }
    },
    "module": {
        "type": "es6"
    },
    "minify": false,
    "isModule": true,
    "env": {
        "targets": "supports async-functions"
    }
}