.__local__a {
  color: green;
}
@keyframes __local__bounce {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  5% {
    transform: translateY(-100%);
    opacity: 0;
  }
}
@-webkit-keyframes __local__bounce2 {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  5% {
    transform: translateY(-100%);
    opacity: 0;
  }
}
.__local__bounce {
  animation-name: __local__bounce;
  animation: __local__bounce2 1s ease;
}
.__local__bounce2 {
  color: green;
  animation: __local__bounce 1s ease;
  animation-name: __local__bounce2;
}
.__local__bounce3 {
  animation: __local__bounce 1s ease, bounce2;
}
.__local__bounce4 {
  animation: __local__bounce 1s ease, bounce2;
}
.__local__b {
  color: green;
}
