{
    "jsc": {
        "parser": {
            "syntax": "ecmascript",
            "jsx": false
        },
        "target": "es2015",
        "loose": false,
        "minify": {
            "compress": false,
            "mangle": true
        }
    },
    "module": {
        "type": "es6"
    },
    "minify": true,
    "isModule": false
}