.class {
    column-count: 1;
    column-count: 1000;
    counter-increment: example-counter 0;
    counter-increment: example-counter 1000;
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    z-index: 7;
    z-index: 1000;
}
