a.invert {
  margin: 0;
  __ident__
    border-radius: 7px;color: white;
  background: __ident__;
  __ident__
    __ident__
}
a {
  test;color: red;
}
a {
  123
    color: red;}
a {
  123;color: red;
}
.class {
  color: blue;
  &.foo {
    ident
         color: green;}
  @supports not (display: grid) {
    float: right;
    & .class {
      ident
          color: red
      }
  }
}
.class {
  color: blue;
  &.foo {
    ident;color: green;
  }
  @supports not (display: grid) {
    float: right;
    & .class {
      ident;color: red;
    }
  }
}
.class {
  color: blue;
  &.foo {
    color: red;
    ident
    }
}
.class {
  color: blue;
  &.foo {
    ident
        color: red;}
}
.class {
  color: blue;
  &.foo {
    ident;color: red;
  }
}
