a {
  -webkit-transition: color 200ms, -webkit-transform 200ms;
  -moz-transition: color 200ms, -moz-transform 200ms;
  -o-transition: color 200ms, -o-transform 200ms;
  transition: color 200ms, -webkit-transform 200ms;
  transition: color 200ms, -moz-transform 200ms;
  transition: color 200ms, -o-transform 200ms;
  transition: color 200ms, transform 200ms;
  -webkit-transform: rotate(10deg);
  -moz-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  -o-transform: rotate(10deg);
  transform: rotate(10deg);
}
div {
  -webkit-transition-property: filter;
  -moz-transition-timing-function: filter;
  -o-transition-timing-function: filter;
  transition-property: filter;
  animation-name: rotating;
}
.good {
  -webkit-transition-property: filter;
  -moz-transition-timing-function: filter;
  -o-transition-timing-function: filter;
  transition-property: filter;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
}
.good2 {
  -webkit-transition-property: color, filter;
  -moz-transition-timing-function: color, filter;
  -o-transition-timing-function: color, filter;
  transition-property: color, filter;
  -webkit-transition-timing-function: cubic-bezier(0.55, 0, 0.1, 1);
  -moz-transition-timing-function: cubic-bezier(0.55, 0, 0.1, 1);
  -o-transition-timing-function: cubic-bezier(0.55, 0, 0.1, 1);
  transition-timing-function: cubic-bezier(0.55, 0, 0.1, 1);
}
.bad {
  -webkit-transition-property: color, filter;
  -moz-transition-timing-function: color, filter;
  -o-transition-timing-function: color, filter;
  transition-property: color, filter;
  -webkit-transition-duration: 1s, 2s;
  -moz-transition-duration: 1s, 2s;
  -o-transition-duration: 1s, 2s;
  transition-duration: 1s, 2s;
}
.revert {
  -webkit-transition: 200ms -webkit-transform;
  -moz-transition: 200ms -moz-transform;
  -o-transition: 200ms -o-transform;
  transition: 200ms -webkit-transform;
  transition: 200ms -moz-transform;
  transition: 200ms -o-transform;
  transition: 200ms transform;
}
input[type=range]::-moz-range-thumb {
  -webkit-transition: color 200ms, -webkit-transform 200ms;
  -moz-transition: color 200ms, -moz-transform 200ms;
  -o-transition: color 200ms, -o-transform 200ms;
  transition: color 200ms, -webkit-transform 200ms;
  transition: color 200ms, -moz-transform 200ms;
  transition: color 200ms, -o-transform 200ms;
  transition: color 200ms, transform 200ms;
  -webkit-transform: rotate(10deg);
  -moz-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  -o-transform: rotate(10deg);
  transform: rotate(10deg);
}
input[type=range]::-webkit-slider-thumb {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
  -webkit-transition-property: all;
  -moz-transition-timing-function: all;
  -o-transition-timing-function: all;
  transition-property: all;
}
button::-moz-submit-invalid {
  opacity: 1;
  -webkit-transform: translateX(45px);
  -moz-transform: translateX(45px);
  -ms-transform: translateX(45px);
  -o-transform: translateX(45px);
  transform: translateX(45px);
  -webkit-transition: opacity 0.5s 2s, -webkit-transform 0.5s 0.5s;
  -moz-transition: opacity 0.5s 2s, -moz-transform 0.5s 0.5s;
  -o-transition: opacity 0.5s 2s, -o-transform 0.5s 0.5s;
  transition: opacity 0.5s 2s, -webkit-transform 0.5s 0.5s;
  transition: opacity 0.5s 2s, -moz-transform 0.5s 0.5s;
  transition: opacity 0.5s 2s, -o-transform 0.5s 0.5s;
  transition: opacity 0.5s 2s, transform 0.5s 0.5s;
}
@supports (transition: opacity 0.5s 2s, transform 0.5s 0.5s) {
  button::-moz-submit-invalid {
    opacity: 1;
    -webkit-transform: translateX(45px);
    -moz-transform: translateX(45px);
    -ms-transform: translateX(45px);
    -o-transform: translateX(45px);
    transform: translateX(45px);
    -webkit-transition: opacity 0.5s 2s, -webkit-transform 0.5s 0.5s;
    -moz-transition: opacity 0.5s 2s, -moz-transform 0.5s 0.5s;
    -o-transition: opacity 0.5s 2s, -o-transform 0.5s 0.5s;
    transition: opacity 0.5s 2s, -webkit-transform 0.5s 0.5s;
    transition: opacity 0.5s 2s, -moz-transform 0.5s 0.5s;
    transition: opacity 0.5s 2s, -o-transform 0.5s 0.5s;
    transition: opacity 0.5s 2s, transform 0.5s 0.5s;
  }
  button {
    opacity: 1;
    -webkit-transform: translateX(45px);
    -moz-transform: translateX(45px);
    -ms-transform: translateX(45px);
    -o-transform: translateX(45px);
    transform: translateX(45px);
    -webkit-transition: opacity 0.5s 2s, -webkit-transform 0.5s 0.5s;
    -moz-transition: opacity 0.5s 2s, -moz-transform 0.5s 0.5s;
    -o-transition: opacity 0.5s 2s, -o-transform 0.5s 0.5s;
    transition: opacity 0.5s 2s, -webkit-transform 0.5s 0.5s;
    transition: opacity 0.5s 2s, -moz-transform 0.5s 0.5s;
    transition: opacity 0.5s 2s, -o-transform 0.5s 0.5s;
    transition: opacity 0.5s 2s, transform 0.5s 0.5s;
  }
}
button::-webkit-search-cancel-button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: color 200ms, -webkit-transform 200ms;
  -moz-transition: color 200ms, -moz-transform 200ms;
  -o-transition: color 200ms, -o-transform 200ms;
  transition: color 200ms, -webkit-transform 200ms;
  transition: color 200ms, -moz-transform 200ms;
  transition: color 200ms, -o-transform 200ms;
  transition: color 200ms, transform 200ms;
  -webkit-transform: rotate(10deg);
  -moz-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  -o-transform: rotate(10deg);
  transform: rotate(10deg);
}
button::-webkit-search-cancel-button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: color 200ms, -webkit-transform 200ms;
  -moz-transition: color 200ms, -webkit-transform 200ms;
  -o-transition: color 200ms, -webkit-transform 200ms;
  transition: color 200ms, -webkit-transform 200ms;
  -moz-transition: color 200ms, -moz-transform 200ms;
  -o-transition: color 200ms, -o-transform 200ms;
  transition: color 200ms, -webkit-transform 200ms;
  transition: color 200ms, -moz-transform 200ms;
  transition: color 200ms, -o-transform 200ms;
  transition: color 200ms, transform 200ms;
  -moz-transition: color 200ms, -moz-transform 200ms, -webkit-transform 200ms;
  -o-transition: color 200ms, -o-transform 200ms, -webkit-transform 200ms;
  transition: color 200ms, -webkit-transform 200ms, -webkit-transform 200ms;
  transition: color 200ms, -moz-transform 200ms, -webkit-transform 200ms;
  transition: color 200ms, -o-transform 200ms, -webkit-transform 200ms;
  transition: color 200ms, transform 200ms, -webkit-transform 200ms;
  -webkit-transform: rotate(10deg);
  -moz-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  -o-transform: rotate(10deg);
  transform: rotate(10deg);
}
.a::-webkit-search-cancel-button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  -ms-flex-flow: row;
  flex-flow: row;
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
  -moz-box-ordinal-group: 1;
  -ms-flex-order: 0;
  order: 0;
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 2;
  -moz-box-flex: 0;
  -ms-flex: 0 1 2;
  flex: 0 1 2;
  -webkit-transition: flex 200ms;
  -moz-transition: flex 200ms;
  -o-transition: flex 200ms;
  transition: flex 200ms;
}
.no-warn {
  -webkit-transition-property: color, opacity;
  -moz-transition-timing-function: color, opacity;
  -o-transition-timing-function: color, opacity;
  transition-property: color, opacity;
  -webkit-transition-duration: 1s, 2s;
  -moz-transition-duration: 1s, 2s;
  -o-transition-duration: 1s, 2s;
  transition-duration: 1s, 2s;
}
div {
  -webkit-transition-property: -webkit-transform;
  -moz-transition-timing-function: -moz-transform;
  -o-transition-timing-function: -o-transform;
  transition-property: -webkit-transform;
  transition-property: -moz-transform;
  transition-property: -o-transform;
  transition-property: transform;
  -webkit-transform: rotate(10deg);
  -moz-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  -o-transform: rotate(10deg);
  transform: rotate(10deg);
}
div {
  -webkit-transition: -webkit-calc(1s);
  -moz-transition: -moz-calc(1s);
  -o-transition: calc(1s);
  transition: -webkit-calc(1s);
  transition: -moz-calc(1s);
  transition: calc(1s);
}
