div {
  line-height: 100;
  margin: 20 30;
  margin: 20 30px;
  margin: 20px 30;
}
div {
  property: 10;
  property: 10;
  property: -10;
  property: 0.1;
  property: 0.1;
  property: -0.1;
  property: -0.1;
  property: 0.1;
  property: 0;
  property: 10;
  property: 0.1;
  property: 12.34;
  property: 0.1;
  property: 1;
  property: 0;
  property: 0;
  property: -0;
  property: 0;
  property: 1.2;
  property: 120;
  property: 100;
  property: 20;
  property: 120;
  property: 120;
  property: 0.012;
  property: -1;
  property: -1.2;
  property: 0.2;
  property: -0.2;
  property: 0.2;
  property: -1200;
  property: 1.75;
  property: 1.75;
  property: 1;
  property: 10;
  property: 10;
  property: 0.1;
  property: 0.0000000001;
  property: 1 2;
  property: 1 -2;
  property: 4.01;
  property: -456.8;
  property: 0.6;
  property: 0.006;
  property: 10000;
  property: -0.034;
  property: 0.56;
  property: 10000000;
  property: 10000000;
  property: 0;
  property: -0;
  property: 0;
  property: 0;
  property: 1;
  property: 10;
  property: 100;
  property: 1000;
  property: 10000;
  property: 100000;
  property: 1;
  property: 0.1;
  property: 0.01;
  property: 0.001;
  property: 0.0001;
  property: 0.00001;
  property: -1;
  property: -0.1;
  property: -0.01;
  property: -0.001;
  property: -0.0001;
  property: -0.00001;
  property: 0.1;
  property: 0.01;
  property: 0.001;
  property: 0.0001;
  property: 0.00001;
  property: 0.000001;
  property: 0.5;
  property: 0.05;
  property: 0.005;
  property: 0.0005;
  property: 0.00005;
  property: 0.000005;
  property: 0.000015;
  property: 0.00001543;
  property: 0.00001543;
  property: 0;
  property: 0;
  property: 0;
  property: 0.001001;
  property: 0.0001001;
  property: 10001000000;
}
div {
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}
.one {
  grid-column: 1/ 3;
  grid-row: 1;
}
.two {
  grid-column: 2/ 4;
  grid-row: 1/ 3;
}
.three {
  grid-column: 1;
  grid-row: 2/ 5;
}
.four {
  grid-column: 3;
  grid-row: 3;
}
.five {
  grid-column: 2;
  grid-row: 4;
}
.six {
  grid-column: 3;
  grid-row: 4;
}
#grid {
  display: grid;
  height: 100px;
  grid-template: repeat(4, 1fr) / 50px 100px;
}
.foo {
  grid-area: 2 span/ another-grid-area span;
}
