p:nth-child(1) {
  color: blue;
}
p:nth-child(7) {
  color: blue;
}
p:nth-child(5n) {
  color: blue;
}
p:nth-child(n + 7) {
  color: blue;
}
p:nth-child(3n + 4) {
  color: blue;
}
p:nth-child(3n+4) {
  color: blue;
}
p:nth-child(-n + 3) {
  color: blue;
}
p:nth-child(-n+3) {
  color: blue;
}
p:nth-child(n) {
  color: blue;
}
p:nth-child(+n) {
  color: blue;
}
p:nth-child(-n) {
  color: blue;
}
p:nth-child(1) {
  color: blue;
}
p:nth-child(2n + 1) {
  color: blue;
}
p:nth-child(2n + 1) {
  color: blue;
}
p:nth-child(+2n + 1) {
  color: blue;
}
p:nth-child(-2n + 1) {
  color: blue;
}
p:nth-child(2n + 1) {
  color: blue;
}
p:nth-child(n + 1) {
  color: blue;
}
p:nth-child(+n + 1) {
  color: blue;
}
p:nth-child(-n + 1) {
  color: blue;
}
p:nth-child(0n+3) {
  color: blue;
}
p:nth-child(+0n+3) {
  color: blue;
}
p:nth-child(-0n+3) {
  color: blue;
}
p:nth-child(1n + 1) {
  color: blue;
}
p:nth-child(+1n + 1) {
  color: blue;
}
p:nth-child(-1n + 1) {
  color: blue;
}
p:nth-child(even) {
  color: blue;
}
p:nth-child(even) {
  color: blue;
}
p:nth-child(2n) {
  color: blue;
}
p:nth-child(1) {
  color: blue;
}
p:nth-child(0n+1) {
  color: blue;
}
p:nth-child(-0n+1) {
  color: blue;
}
p:nth-child(+0n+1) {
  color: blue;
}
p:nth-child(0n+5) {
  color: blue;
}
p:nth-child(0n-5) {
  color: blue;
}
p:nth-child(-1n+3) {
  color: blue;
}
p:nth-child(+1n+3) {
  color: blue;
}
p:nth-child(1n+3) {
  color: blue;
}
p:nth-child(n+3) {
  color: blue;
}
p:nth-child(-n+3) {
  color: blue;
}
p:nth-child(+n+3) {
  color: blue;
}
p:nth-child(+n-3) {
  color: blue;
}
p:nth-child(0n-3) {
  color: blue;
}
p:nth-child(0n+3) {
  color: blue;
}
p:nth-child(-0n-3) {
  color: blue;
}
p:nth-child(+0n-3) {
  color: blue;
}
p:nth-child(n+0) {
  color: blue;
}
p:nth-child(+n+0) {
  color: blue;
}
p:nth-child(-n+0) {
  color: blue;
}
p:nth-child(5n+0) {
  color: blue;
}
p:nth-child(-5n+0) {
  color: blue;
}
p:nth-child(+5n+0) {
  color: blue;
}
p:nth-child(-2n+1) {
  color: blue;
}
p:nth-of-type(2n+1) {
  color: blue;
}
p:nth-last-col(2n+1) {
  color: blue;
}
p:nth-col(2n+1) {
  color: blue;
}
p:nth-child(n - 0) {
  color: blue;
}
p:nth-child(n + 0) {
  color: blue;
}
p:nth-child(5) {
  color: blue;
}
p:nth-child(+5) {
  color: blue;
}
p:nth-child(-5) {
  color: blue;
}
