div {
  padding: 100% 20%;
  margin: 100% 20px;
  background-position: 50% 50%, calc(50% + 20px) calc(50% + 20px);
  margin: 20px 100%;
}
div {
  background: image-set(url("image.png") 1x) 100%;
  background: 100% image-set(url("image.png") 1x);
}
div {
  background: 50% red;
}
div {
  margin: 100% 20px 100% 40em;
}
div {
  background: rgba(0, 0, 0, 0) image-set(url("image.png") 1x) repeat scroll 0% 0%;
}
div {
  width: 100.00%;
  width: 100.01%;
}
div {
  width: 0%;
  width: 0.1%;
  width: 100%;
  width: 100.5%;
  width: 100.1000%;
  width: 1e0%;
  width: 1e1%;
  width: 1e2%;
  width: 10e-1%;
  width: 10e-5%;
  width: 10e+2%;
  width: 12e+2%;
  width: +0%;
  width: -0%;
  width: +0000%;
  width: 0000%;
  width: 10.5%;
  width: 10.5000%;
  width: 10.0%;
  width: 0.0%;
  width: -0.0%;
  width: 10.0e2%;
  width: 10.0e5%;
  width: 10.0E5%;
}
.geist-list {
  display: flex;
  flex-wrap: wrap;
  margin: __ident__;
  box-sizing: border-box;
}
.geist-list :global(> .geist-list-item) {
  padding: __ident__;
  flex-grow: 0;
  flex-basis: __ident__%;
  min-width: 0;
}
