div {
  padding: 100% 20%;
  margin: 100% 20px;
  background-position: 50% 50%, calc(50% + 20px) calc(50% + 20px);
  margin: 20px 100%;
}
div {
  background: image-set(url("image.png") 1x) 100%;
  background: 100% image-set(url("image.png") 1x);
}
div {
  background: 50% red;
}
div {
  margin: 100% 20px 100% 40em;
}
div {
  background: rgba(0, 0, 0, 0) image-set(url("image.png") 1x) repeat scroll 0% 0%;
}
div {
  width: 100%;
  width: 100.01%;
}
div {
  width: 0%;
  width: 0.1%;
  width: 100%;
  width: 100.5%;
  width: 100.1%;
  width: 1%;
  width: 10%;
  width: 100%;
  width: 1%;
  width: 0.0001%;
  width: 1000%;
  width: 1200%;
  width: 0%;
  width: -0%;
  width: 0%;
  width: 0%;
  width: 10.5%;
  width: 10.5%;
  width: 10%;
  width: 0%;
  width: -0%;
  width: 1000%;
  width: 1000000%;
  width: 1000000%;
}
.geist-list {
  display: flex;
  flex-wrap: wrap;
  margin: __ident__;
  box-sizing: border-box;
}
.geist-list :global(> .geist-list-item) {
  padding: __ident__;
  flex-grow: 0;
  flex-basis: __ident__%;
  min-width: 0;
}
