.class-1 {
    overflow: visible;
}

.class-2 {
    overflow: hidden;
}

.class-3 {
    overflow: clip;
}

.class-4 {
    overflow: scroll;
}

.class-5 {
    overflow: auto;
}

.class-6 {
    overflow: hidden visible;
}

.class-7 {
    overflow: scroll scroll;
}
