.class1 { 
    opacity: 0 
}

.class2 {
    opacity: 0%;
}

.class3 {
    opacity: 0.5;
}

.class4 {
    opacity: 50%;
}

.class5 {
    opacity: 1;
}

.class6 {
    opacity: 100%;
}

.class7 {
    shape-image-threshold: 70%;
}

.class8 {
    fill-opacity: 50%;
}

.class9 {
    stroke-opacity: 50%;
}

.class10 {
    shape-image-threshold: 50%;
}

.class11 {
    opacity: 53%;
}

.class12 {
    OPACITY: 0
}

.class13 {
    color: rgba(123, 123, 123, 100%);
}

.class14 {
    color: rgba(123, 123, 123, 20%);
}


.class15 {
    color: rgba(123, 123, 123, 1%);
}


.class16 {
    color: rgba(123, 123, 123, 0%);
}

.class17 {
    color: rgba(123, 123, 123, 1);
}

.class18 {
    color: rgba(123, 123, 123, 0.2);
}

.class19 {
    color: rgba(123, 123, 123, 0.5);
}

.class20 {
    color: rgba(123, 123, 123, 0.53);
}

.class21 {
    color: rgba(123, 123, 123, 0.1);
}

.class22 {
    color: rgba(123, 123, 123, 0.1);
}

.class23 {
    color: rgba(123, 123, 123, 0.01);
}

.class24 {
    color: rgba(123, 123, 123, 0.09);
}

.class25 {
    color: rgba(123, 123, 123, 0.000);
}

.class26 {
    color: rgba(123, 123, 123, 0);
}
