{
    "jsc": {
        "parser": {
            "syntax": "ecmascript"
        },
        "target": "es2015"
    },
    "module": {
        "type": "es6"
    },
    "isModule": true,
    "minify": false
}