@page MyPage:blank {
	@top-center { content: none }
	margin-left: 4cm;
}

@page :blank {
	@top-center { content: none }
	margin-left: 4cm;
}

@page {
	@top-center { content: none }
	margin-left: 4cm;
}

@page {
	@top-center { CONTENT: none }
	MARGIN-LEFT: 4cm;
}
