div {
  color: #fff;
  color: #ffffff;
  color: #fff;
  color: #ffffff;
  color: #dc143c;
  color: #ff0000;
  color: #ff0000ff;
  color: #f09;
  color: #ff0099;
  color: #0f38;
  color: #00ff3388;
  color: #0a0a0a;
  color: #0a0a0afa;
}
div {
  background: url("starsolid.gif") #99f repeat-y fixed;
  background: url("starsolid.gif") repeat-y fixed #99f;
  background: url("starsolid.gif") repeat-y 12 #99f;
}
.foo {
  border: thick double #32a1ce;
}
.bar {
  color: #123abcff;
  color: #123f;
}
