{
    "$schema": "https://json.schemastore.org/swcrc",
    "jsc": {
        "parser": {
            "syntax": "typescript"
        },
        "target": "es2022",
        "experimental": {
            "keepImportAssertions": true,
            "emitAssertForImportAttributes": true
        }
    },
    "module": {
        "type": "es6"
    },
    "isModule": true
}