{
    "jsc": {
        "parser": {
            "syntax": "ecmascript",
            "jsx": true
        },
        "transform": {
            "hidden": {
                "jest": true
            }
        }
    },
    "env": {
        "chrome": "50"
    }
}
