{
    "jsc": {
        "target": "es5",
        "parser": {
            "syntax": "typescript",
            "tsx": true
        },
        "transform": {
            "react": {
                "runtime": "automatic",
                "pragma": "React.createElement",
                "pragmaFrag": "React.Fragment",
                "throwIfNamespace": true,
                "useBuiltins": true
            }
        },
        "minify": {
            "compress": {
                "toplevel": true
            },
            "mangle": {
                "toplevel": true
            },
            "toplevel": true
        },
        "externalHelpers": true
    },
    "minify": true
}
