.__local__a .__local__b, 
.__local__c .__local__d, 
#id {
  color: green;
  font-size: 1.5pt;
}
a[href="#b.c"].__local__x.__local__y {
  color: green;
  font-size: 1.5pt;
}
@keyframes z {
  2.5% {
    color: green;
  }
}
