{
    "jsc": {
        "externalHelpers": true,
        "parser": {
            "syntax": "typescript",
            "decorators": true,
            "tsx": true
        },
        "transform": {
            "legacyDecorator": true,
            "decoratorMetadata": false
        },
        "target": "es5",
        "loose": false,
        "minify": {
            "compress": false,
            "mangle": false
        }
    },
    "module": {
        "type": "es6"
    },
    "minify": false
}
