:root {
    --foo: red !important;
    --foo: red!important;
}

div {
    color: red!important;
    color: red !important;
    color: red !   important;
    color: red   !   important;
    color: red   !   IMPORTANT;
    color: red   !   iMpOrTaNt;
}

a { b: c!important }

.class {
    & div {
        color: red !important
    }
}

.class {
    & div {
       color: red !important;
    }
}

.foo {
    color: red !ie;
}

* {--x:!important}

* {--x: !important}

* { --x:!important }

* { --x: !important }

* { --x:   !important }
