:root {
--foo: red !important;
--foo: red!important;
}
div {
color: red !important;
color: red !important;
color: red !important;
color: red !important;
color: red !IMPORTANT;
color: red !iMpOrTaNt;
}
