.class {
  columns: auto;
}
.class {
  column-count: auto;
}
.class {
  column-fill: auto;
}
.class {
  column-gap: auto;
}
.class {
  column-rule: auto;
}
.class {
  column-rule-color: auto;
}
.class {
  column-rule-style: auto;
}
.class {
  column-rule-width: auto;
}
.class {
  column-span: auto;
}
.class {
  column-width: auto;
}
