{
    "jsc": {
        "parser": {
            "syntax": "ecmascript",
            "jsx": false
        },
        "target": "es2022",
        "minify": {
            "mangle": false,
            "compress": false
        }
    },
    "minify": false,
    "isModule": true,
    "module": {
        "type": "commonjs"
    }
}