{
    "jsc": {
        "parser": {
            "syntax": "typescript",
            "decorators": true,
            "tsx": false
        },
        "target": "es2022",
        "loose": false,
        "minify": {
            "compress": false,
            "mangle": false
        },
        "transform": {
            "decoratorMetadata": true
        }
    },
    "module": {
        "type": "es6"
    },
    "minify": false,
    "isModule": true
}