<!DOCTYPE html>
<html class="no-js" lang="cs-CZ">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>

<body class="d-flex flex-column" id="platform-body">

  <noscript>
    Pro běh této aplikace musíte mít zapnutý JavaScript. <br />
    You need to enable JavaScript to run this app.
  </noscript>

  <div id="app" class="app">
    <div class="d-flex justify-content-center align-items-center flex-column flex-1 root-preloader__container">
      <div class="w-80">
        <div class="root-preloader__progress-preload"
          style="margin: 0; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center;">
          <img src="/images/loader.svg" alt="Načítání..." />
          <div style="margin-top: 10px;">Načítání...</div>
        </div>
        <div class="progress">
          <div id="root-preloader-progress"
            class="progress-bar progress-bar-striped progress-bar-animated bg-color-brand" role="progressbar"
            aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="/library/library.dll.js"></script>
</body>

</html>