{
    "jsc": {
        "parser": {
            "syntax": "typescript",
            "tsx": true,
            "dynamicImport": true
        },
        "transform": {
            "react": {
                "runtime": "automatic",
                "refresh": true
            }
        }
    },
    "module": {
        "type": "commonjs"
    },
    "env": {
        "coreJs": 3,
        "mode": "usage"
    }
}
