input::placeholder {
  color: red;
}
input::placeholder, 
#fs-toggle:-webkit-full-screen {
  color: red;
}
input::placeholder, 
#fs-toggle:fullscreen {
  color: red;
}
input::placeholder {
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
}
input.appearance::placeholder {
  appearance: none;
}
