input::-webkit-input-placeholder {
  color: red;
}
input::placeholder {
  color: red;
}
input::-webkit-input-placeholder, 
#fs-toggle:-webkit-full-screen {
  color: red;
}
input::placeholder, 
#fs-toggle:fullscreen {
  color: red;
}
input::-webkit-input-placeholder {
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
}
input::placeholder {
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
}
input.appearance::-webkit-input-placeholder {
  -webkit-appearance: none;
  appearance: none;
}
input.appearance::placeholder {
  -webkit-appearance: none;
  appearance: none;
}
