{
    "jsc": {
        "parser": {
            "syntax": "typescript",
            "tsx": false,
            "decorators": false,
            "dynamicImport": false
        },
        "transform": null,
        "target": "es5",
        "loose": false,
        "externalHelpers": false,
        "keepClassNames": false,
        "minify": {
            "compress": {
                "unused": true
            },
            "mangle": true
        }
    },
    "minify": true
}
