a {
    color: red;
    color: red;

    .class {
        color: red;
        color: red;
    }

    @media screen and (min-width: 100px) {
        color: red;
        color: red;
    }

    @supports (display: flex) {
        color: red;
        color: red;

        .other {
            color: red;
            color: red;
        }
    }

    .case-insensitivity {
        color: red;
        COLOR: red;
    }
}


.font {
    > h1 { font-weight: bold }
    > h1 { font-weight: 700 }
}
