{
    "module": {
        "type": "commonjs"
    },
    "exclude": [
        ".*.js$"
    ],
    "jsc": {
        "parser": {
            "syntax": "typescript"
        },
        "target": "es2016"
    },
    "sourceMaps": true
}