{
    "jsc": {
        "parser": {
            "syntax": "typescript",
            "tsx": false,
            "decorators": true
        },
        "transform": {
            "useDefineForClassFields": false,
            "legacyDecorator": true,
            "decoratorMetadata": true
        },
        "target": "es2018"
    },
    "module": {
        "type": "commonjs"
    }
}