{
  "jsc": {
    "target": "es2015",
    "parser": {
      "syntax": "ecmascript",
      "jsx": true,
      "dynamicImport": true,
      "classProperty": true,
      "exportNamespaceFrom": true,
      "exportDefaultFrom": true
    }
  },
  "module": {
    "type": "commonjs"
  }
}