{
    "jsc": {
        "parser": {
            "syntax": "ecmascript"
        },
        "target": "es2021",
        "minify": {
            "compress": false,
            "mangle": false
        },
        "loose": false
    },
    "minify": false
}