{
    "jsc": {
        "parser": {
            "syntax": "typescript"
        },
        "transform": {
            "reactCompiler": {
                "compilationMode": "all"
            }
        }
    }
}
