div {
  background: center/ contain no-repeat url("../../media/examples/firefox-logo.svg"), #eee 35% url("../../media/examples/lizard.png");
  border: medium dashed green;
}
div {
  border: 0.5rem outset pink;
  outline: 0.5rem solid khaki;
  box-shadow: 0 0 0 2rem skyblue;
  border-radius: 12px;
  font: bold 1rem sans-serif;
  margin: 2rem;
  padding: 1rem;
  outline-offset: 0.5rem;
}
p {
  width: 70px;
  height: 70px;
  border: solid 30px;
  border-color: orange orange silver silver;
  border-top-right-radius: 100%;
}
