{
    "jsc": {
        "parser": {
            "syntax": "typescript",
            "decorators": true
        },
        "transform": {
            "decoratorVersion": "2022-03"
        },
        "target": "es2022"
    },
    "isModule": true
}