.__local__a {
  animation: 3s __local__animationName;
}
.__local__b {
  animation: __local__animationName 3s;
}
.__local__c {
  animation-name: __local__animationName;
}
@keyframes __local__animationName {
  0% {
    background: white;
  }
  100% {
    background: red;
  }
}
