{
    "jsc": {
        "parser": {
            "syntax": "typescript",
            "tsx": false
        },
        "loose": false,
        "minify": {
            "compress": false,
            "mangle": false
        }
    },
    "module": {
        "type": "es6"
    },
    "minify": false,
    "isModule": true,
    "env": {
        "targets": "Chrome >= 50"
    }
}