{
    "jsc": {
        "target": "es2021",
        "parser": {
            "syntax": "typescript",
            "tsx": false,
            "decorators": false,
            "dynamicImport": false
        }
    },
    "sourceMaps": true
}
