{
    "jsc": {
        "parser": {
            "syntax": "ecmascript",
            "jsx": false
        },
        "target": "es2021",
        "loose": false,
        "minify": {
            "compress": false,
            "mangle": false
        }
    },
    "module": {
        "type": "commonjs"
    },
    "minify": false,
    "isModule": false
}