.__local__a {
  color: green;
  animation: __local__a;
}
@keyframes __local__b {
  0% {
    left: 10px;
  }
  100% {
    left: 20px;
  }
}
.__local__b {
  animation: __local__b;
}
@keyframes :global(c) {
  0% {
    left: 10px;
  }
  100% {
    left: 20px;
  }
}
.__local__c {
  animation: __local__c1;
  animation: __local__c2, c3, c4;
}
@keyframes :global(d) {
  0% {
    left: 10px;
  }
  100% {
    left: 20px;
  }
}
 .d1 {
  animation: __local__d1;
  animation: __local__d2, d3, d4;
}
.d2 {
  animation: __local__d2;
}
