{
    "jsc": {
        "parser": {
            "syntax": "ecmascript",
            "dynamicImport": true,
            "tsx": true,
            "jsx": true
        },
        "loose": false,
        "externalHelpers": true
    },
    "env": {
        "targets": "> 0.25%, not dead, Safari >=8",
        "mode": "entry",
        "coreJs": "3.27",
        "loose": false,
        "bugfixes": true
    }
}