{
    "jsc": {
        "parser": {
            "syntax": "ecmascript",
            "dynamicImport": true,
            "tsx": true,
            "jsx": true
        },
        "loose": false,
        "externalHelpers": true,
        "target": "es5"
    }
}