{
    "jsc": {
        "lints": {
            "no-param-reassign": [
                "error",
                {
                    "ignorePropertyModificationsForRegex": [
                        "^ignore"
                    ]
                }
            ]
        }
    }
}