{
    "jsc": {
        "parser": {
            "syntax": "typescript",
            "decorators": true,
            "tsx": false
        },
        "transform": {
            "legacyDecorator": true
        },
        "target": "es2016",
        "minify": {
            "compress": true,
            "mangle": true
        },
        "loose": false
    },
    "isModule": true,
    "minify": true
}