{
    "jsc": {
        "transform": {
            "optimizer": {
                "simplify": {
                    "preserveImportsWithSideEffects": false
                },
                "globals": {
                    "envs": {
                        "NODE_ENV_ALT": "true"
                    }
                }
            }
        }
    }
}
