@keyframes test {}
@keyframes "test" {}
@keyframes :local(test) {}
@keyframes :local("test") {}
@keyframes :local test {}
@keyframes :local "test" {}
@keyframes :global(test) {}
@keyframes :global("test") {}
@keyframes :global test {}
@keyframes :global "test" {}
