{
    "jsc": {
        "parser": {
            "syntax": "typescript"
        },
        "target": "es2019",
        "baseUrl": "./src",
        "paths": {
            "core/*": ["core/*"],
            "utils/*": ["utils/*"],
            "core": ["core"],
            "utils": ["utils"]
        }
    },
    "module": {
        "type": "commonjs"
    }
}
