{
    "jsc": {
        "target": "es2018",
        "parser": {
            "syntax": "ecmascript"
        },
        "transform": {
            "useDefineForClassFields": false
        }
    },
    "isModule": true
}