img {
    image-rendering: crisp-edges;
}

img.other {
    image-rendering: pixelated;
}

img.already {
    -ms-interpolation-mode: nearest-neighbor;
    display: block;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
}
