.selector {
    !property: value;
    color: red;
}
.selector { 
    $property: value;
    color: red;
}
.selector { 
    &property: value;
    color: red;
}
.selector { 
    *property: value;
    color: red;
}
.selector { 
    )property: value;
    color: red;
}
.selector { 
    =property: value;
    color: red;
}
.selector { 
    %property: value;
    color: red;
}
.selector { 
    +property: value;
    color: red;
}
.selector { 
    @property: value;
    color: red;
}
.selector { 
    ,property: value;
    color: red;
}
.selector { 
    .property: value;
    color: red;
}
.selector { 
    /property: value;
    color: red;
}
.selector { 
    `property: value;
    color: red;
}
.selector { 
    ]property: value;
    color: red;
}
.selector { 
    #property: value;
    color: red;
}
.selector { 
    ~property: value;
    color: red;
}
.selector { 
    ?property: value;
    color: red;
}
.selector { 
    :property: value;
    color: red;
}
.selector { 
    |property: value;
    color: red;
}
