.bible-quote {
  direction: rtl;
  unicode-bidi: -moz-isolate-override;
  unicode-bidi: -webpack-isolate-override;
  unicode-bidi: isolate-override;
}
.bible-quote {
  direction: rtl;
  unicode-bidi: -moz-plaintext;
  unicode-bidi: -webpack-plaintext;
  unicode-bidi: plaintext;
}
.bible-quote {
  direction: rtl;
  unicode-bidi: -moz-isolate;
  unicode-bidi: -webkit-isolate;
  unicode-bidi: isolate;
}
