@media (max-width: 30em),(max-height: 30em) {
	body {
		order: 1;
	}
}

@media screen and (max-width: 30em) {
	body {
		order: 1;
	}
}

@media (max-width: 30em),(max-height: 30em), (max-width: 30em), (max-height: 30em) {
	body {
		order: 1;
	}
}

@media not all and (max-width: 30em),not all and (max-height: 30em) {
	body {
		order: 2;
	}
}

@media not all and (max-width: 30em),not all and (max-height: 30em) {
	body {
		order: 1;
	}
}

@media all and (max-width: 30em),all and (max-height: 30em) {
	body {
		order: 2;
	}
}

@media (--circular-mq-a) {
	body {
		order: 3;
	}
}

@media (--circular-mq-b) {
	body {
		order: 4;
	}
}

@media (--unresolved-mq) {
	body {
		order: 5;
	}
}

@media (min-width: 320px) and (max-width: 640px) {
	body {
		order: 6;
	}
}

@media (min-width: 320px) and (max-width: 640px) {
	body {
		order: 7;
	}
}

@media (min-width: 320px) and (max-width: 640px) and (min-aspect-ratio: 16/9) {
	body {
		order: 8;
	}
}

@media (max-width: 30em),(max-height: 30em) {
	body {
		order: 1000;
	}
}

@media (max-width: 30em),(max-height: 30em) {
	body {
		order: 1001;
	}
}

@media (max-width: 30em),(max-height: 30em), (max-width: 30em), (max-height: 30em) {
	body {
		order: 1002;
	}
}

@media (max-width: 30em),(max-height: 30em), (max-width: 30em), (max-height: 30em) {
	body {
		order: 1003;
	}
}

@media (max-width: 30em),(max-height: 30em), (max-width: 30em), (max-height: 30em) {
	body {
		order: 1004;
	}
}

@media (max-width: 30em),(max-height: 30em),
(max-width: 30em),
(max-height: 30em) {
	body {
		order: 1005;
	}
}

@media (trailer--) {
	body {
		order: 1006;
	}
}

@custom-media trailer-- (min-width: 320px);
