.class {
  __styled-jsx-placeholder__1
    animation: slide 3s ease infinite;}
.class {
  -webkit-animation: slide 3s ease infinite;
  -moz-animation: slide 3s ease infinite;
  -o-animation: slide 3s ease infinite;
  animation: slide 3s ease infinite;
  __styled-jsx-placeholder__1
}
