a {
    background: linear-gradient(white, gray);
    background: linear-gradient(yellow, blue);
    background: linear-gradient(to bottom, yellow, blue);
    background: linear-gradient(180deg, yellow, blue);
    background: linear-gradient(to top, blue, yellow);
    background: linear-gradient(to bottom, yellow 0%, blue 100%);
    background: linear-gradient(135deg, yellow, blue);
    background: linear-gradient(-45deg, blue, yellow);
    background: linear-gradient(yellow, blue 20%, #0f0);
    background: linear-gradient(to top right, red, white, blue);
    background: linear-gradient(0deg, blue, green 40%, red);
    background: linear-gradient(.25turn, red 10%, blue);
    background: linear-gradient(45deg, red 0 50%, blue 50% 100%);
}