a[color="blue"] {color:blue}
a[color=""]{color:blue}
a[color="-"]{color:blue}
a[color="."] {color:blue}
a[color="   "]{color:blue}
a[color="   a   "]{color:blue}
a[color=" a"]{color:blue}
a[color="a "]{color:blue}
a[color="\22"]{color:blue}
a[color="B\26 W\3F "]{color:blue}
a[color="\47"]{color:blue}
a[color="😂"]{color:blue}
a[color="👩‍🦼"]{color:blue}
a[color="1"]{color:blue}
a[color="--"]{color:blue}
a[color="-1"]{color:blue}
a[color="-404"]{color:blue}
a[color="-x"]{color:blue}
a[   color=   "blue"    ] {color:blue}
a[color="blue"   i   ] {color:blue}
a[class="woop \
woop woop"] {color:blue}
a[class="woop_woop_woop"]{color:blue}
h1[class=" *.js "] + *.js{color:blue}

h1::before {color:blue}
h1::BEfoRE {color:blue}
h1::after {color:blue}
h1::first-letter {color:blue}
h1::first-line {color:blue}

* {color:blue}
*[hreflang|=en]{color:blue}
*.warning{color:blue}
*#myid{color:blue}
*::before{content:"test";color:blue}
*:hover{}
*.class[hreflang|=en]{color:blue}

foo|*[hreflang|=en]{color:blue}
*|*[hreflang|=en]{color:blue}

div {& *[hreflang|=en]{color:blue}}
div {&*[hreflang|=en]{color:blue}}
div {&div {color:blue}}
div {&* {color:blue}}
div {& {color:blue}}
div {&*.class {color:blue}}

/* For example, the following selector matches any element that is being hovered or focused, regardless of its namespace. In particular, it is not limited to only matching elements in the default namespace that are being hovered or focused. */
*|*:is(:hover, :focus) {color:blue}
/* The following selector, however, represents only hovered or focused elements that are in the default namespace, because it uses an explicit universal selector within the :is() notation: */
*|*:is(*:hover, *:focus) {color: blue}

div *:first-child{color:blue}

legend + * {color:blue}
* + legend {color:blue}
* + * {color:blue}

p:nth-child(1){color:blue}
p:NTH-CHILD(1){color:blue}
p:nth-child(2n + 1){color:blue}
p:nth-child(2N + 1){color:blue}
p:nth-child(even){color:blue}
p:nth-child(EVEN){color:blue}
p:nth-child(2n){color:blue}
p:nth-child(1){color: blue}
p:nth-child(0n+1){color: blue}
p:nth-child(-0n+1){color: blue}
p:nth-child(+0n+1) {color:blue}
p:nth-child(0n+5){color: blue}
p:nth-child(0n-5){color: blue}
p:nth-child(-1n+3) {color: blue}
p:nth-child(+1n+3) {color: blue}
p:nth-child(1n+3) {color: blue}
p:nth-child(n+3) {color: blue}
p:nth-child(-n+3) {color: blue}
p:nth-child(+n+3) {color: blue}
p:nth-child(+n-3) {color: blue}
p:nth-child(0n-3) {color: blue}
p:nth-child(-0n-3) {color: blue}
p:nth-child(+0n-3) {color: blue}
p:nth-child(n+0) {color: blue}
p:nth-child(+n+0) {color: blue}
p:nth-child(-n+0) {color: blue}
p:nth-child(5n+0) {color: blue}
p:nth-child(-5n+0) {color: blue}
p:nth-child(+5n+0) {color: blue}
:nth-child(-2n+1) {color:blue}
:nth-of-type(2n+1) {color:blue}
:nth-last-col(2n+1) {color:blue}
:nth-col(2n+1) {color:blue}

p:nth-child(n+8):nth-child(-n+15){color:blue}
p:nth-last-of-type(2n + 2){color:blue}
body>h2:not(:first-of-type):not(:last-of-type){color:blue}
