div {
  background: -moz-element(#id);
  background: element(#id);
}
div {
  background: url(image.jpg), -moz-element(#id);
  background: url(image.jpg), element(#id);
}
div {
  background: -webkit-image-set(url("small-balloons.jpg") 1x, url("large-balloons.jpg") 2x), element(#id);
  background: image-set(url("small-balloons.jpg") 1x, url("large-balloons.jpg") 2x), -moz-element(#id);
  background: image-set(url("small-balloons.jpg") 1x, url("large-balloons.jpg") 2x), element(#id);
}
