{
    "jsc": {
        "lints": {
            "prefer-regex-literals": [
                "error",
                {
                    "disallowRedundantWrapping": true
                }
            ]
        }
    }
}
