:where(ul) li {}
:where(ul, ol) li {}
:where(header, main, footer) p:hover {}
div:where(.cool, .fun) {}
:where(ol, ul, menu, dir) :where(ol, ul, menu, dir) :where(ul, menu, dir) {}
*|*:where(:hover, :focus) {}
*|*:where(*:hover, *:focus) {}
:where(ul, ol, .lwheret) > [hidden] {}
:where(p, p:unsupported) {}
:where(:valid, :unsupported) {}
a:where(:not(:hover)) {}
:where(:nth-child(6), :nth-child(6) #id){}
:where(:nth-last-child(7), :nth-last-child(7 ) #id){}
:where(:nth-of-type(8) #a, :nth-of-type(8) #b, :nth-of-type(8) #c) {}
:where(:nth-last-of-type(9)   #a,
       :nth-last-of-type(9 )  #b,
       :nth-last-of-type( 9)  #c,
       :nth-last-of-type( 9 ) #d,
       :nth-last-of-type(9)   #e) {}
:where(:nth-child(6),
       :nth-last-child(6),
       :nth-of-type(6),
       :nth-last-of-type(6)) {}

/* Forgiving */
h1:where(<> p) {}
h1:where(a, <> p) {}
h1:where(<> p,a) {}
h1:where(a, <> p,a) {}