{
    "jsc": {
        "parser": {
            "syntax": "typescript"
        },
        "transform": null,
        "target": "es2015",
        "loose": true,
        "keepClassNames": false
    },
    "minify": true
}