{
    "jsc": {
        "lints": {
            "noRestrictedSyntax": [
                "error",
                {
                    "ForOfExpression": {
                        "message": "no 'for-of' expression"
                    }
                }
            ]
        }
    }
}
