{

}

{
    color: red;
}

#broken# {
    color: red;
}

$bad{ color: red }
$bad { color: red }
$bad foo{ color: red }
$bad foo { color: red }

$bad: rule;

/* TODO: FIX ME */
/* a {}; b {}; */

a { div.major { color: blue } color: red }
a { div:hover { color: blue } color: red }
a { div:hover { color: blue }; color: red }