@import "foo1.css" screen and ((max-width: 99.999px) and (min-width: 200.001px));
@import "foo2.css" screen and (min-width: 500px);
@media (min-width: 500px) {
  a {
    color: red;
  }
}
@media (max-width: 499.999px) {
  a {
    color: red;
  }
}
@media (max-width: 500px) {
  a {
    color: red;
  }
}
@media (min-width: 500.001px) {
  a {
    color: red;
  }
}
@media (width: 500px) {
  a {
    color: red;
  }
}
@media (max-width: 500px) {
  a {
    color: blue;
  }
}
@media (min-width: 500.001px) {
  a {
    color: blue;
  }
}
@media (min-width: 500px) {
  a {
    color: blue;
  }
}
@media (max-width: 499.999px) {
  a {
    color: blue;
  }
}
@media (width: 500px) {
  a {
    color: blue;
  }
}
@media ((max-width: 1023.999px) and (min-width: 768px)) {
  a {
    color: red;
  }
}
@media ((min-width: 768px) and (max-width: 1023.999px)) {
  a {
    color: red;
  }
}
@media ((max-width: 1024px) and (min-width: 768.001px)) {
  a {
    color: red;
  }
}
@media ((min-width: 768.001px) and (max-width: 1024px)) {
  a {
    color: red;
  }
}
@media ((max-width: 1024px) and (min-width: 768px)) {
  a {
    color: red;
  }
}
@media ((min-width: 768px) and (max-width: 1024px)) {
  a {
    color: red;
  }
}
@media ((max-width: 1023.999px) and (min-width: 768.001px)) {
  a {
    color: red;
  }
}
@media ((min-width: 768.001px) and (max-width: 1023.999px)) {
  a {
    color: red;
  }
}
@media screen and (min-resolution: 1dpi) and (max-resolution: 192dpi) {
  a {
    color: red;
  }
}
@media screen and ((min-resolution: 1.5dppx) and (max-resolution: 3dppx)) {
  a {
    color: red;
  }
}
@media screen and ((min-resolution: .5dppx) and (max-resolution: 2.5dppx)) {
  a {
    color: red;
  }
}
@media screen and (resolution) and ((min-resolution: 10dpi) and (max-resolution: 118dpcm)) {
  a {
    color: red;
  }
}
@media screen and (min-width: 500px) and (height) {
  .bar {
    display: block;
  }
}
@media screen and ((min-width: 500px) and (max-width: 1200px)) and (height) {
  .bar {
    display: block;
  }
}
@media screen and (any-hover) and (min-width: 500px) and (device-width) {
  .bar {
    display: block;
  }
}
@media screen and (any-hover) and (min-width: 500px) and (device-width) {
  .bar {
    display: block;
  }
}
@media screen and (color-index) {
  a {
    color: red;
  }
}
@media screen and (min-color-index: 0) and (max-color-index: 1000) {
  a {
    color: red;
  }
}
@media screen and (min-monochrome: 0) and (max-monochrome: 1000) {
  a {
    color: red;
  }
}
@media screen and (min-resolution: 96dpi) and (max-resolution: 3dppx) {
  a {
    color: red;
  }
}
@media screen and (min-width: -200px) and (max-width: 900.56px) {
  a {
    color: red;
  }
}
@media screen and (min-width: -0.58px) and (max-width: .99px) {
  a {
    color: red;
  }
}
@media screen and (resolution) {
  a {
    color: red;
  }
}
@media screen and (min-resolution: 1000dpi) and (max-resolution: 3dppx) {
  a {
    color: red;
  }
}
@media screen and ((min-resolution: 1000000dpi) and (max-resolution: 1000000dpcm)) {
  a {
    color: red;
  }
}
@media screen and ((min-resolution: 1/1000) and (max-resolution: 16/9)) {
  a {
    color: red;
  }
}
@media screen and (min-monochrome: 0) and (max-monochrome: 1000) {
  a {
    color: red;
  }
}
@media screen and ((min-monochrome: 0) and (max-monochrome: 1000)) {
  a {
    color: red;
  }
}
@media screen and (monochrome) and ((min-monochrome: 1) and (max-monochrome: 300)) {
  a {
    color: red;
  }
}
@media screen and (min-width: 500.001px) and (max-width: 1199.999px) {
  a {
    color: red;
  }
}
@media screen and ((min-width: 500.001px) and (max-width: 1199.999px)) {
  a {
    color: red;
  }
}
@media screen and ((min-width: 40.001em) and (max-width: 59.999em)) {
  a {
    color: red;
  }
}
@media screen and ((min-width: 13.801rem) and (max-width: 51.2rem)) {
  a {
    color: red;
  }
}
@media screen and ((min-width: 6.001in) and (max-width: 8.999in)) {
  a {
    color: red;
  }
}
@media screen and ((min-width: 1) and (max-width: 500.579px)) {
  a {
    color: red;
  }
}
@media screen and (width) and ((min-width: 0.081px) and (max-width: 0.679px)) {
  a {
    color: red;
  }
}
@media screen and (min-height: 500.001px) and (max-height: 1199.999px) {
  a {
    color: red;
  }
}
@media screen and ((min-height: 500.001px) and (max-height: 1199.999px)) {
  a {
    color: red;
  }
}
@media screen and ((min-height: 40.001em) and (max-height: 59.999em)) {
  a {
    color: red;
  }
}
@media screen and ((min-height: 13.8rem) and (max-height: 51.199000000000005rem)) {
  a {
    color: red;
  }
}
@media screen and ((min-height: 6.001in) and (max-height: 8.999in)) {
  a {
    color: red;
  }
}
@media screen and ((min-height: 1) and (max-height: 500.579px)) {
  a {
    color: red;
  }
}
@media screen and (height) and ((min-height: 0.081px) and (max-height: 0.679px)) {
  a {
    color: red;
  }
}
@media screen and (min-device-width: 500px) and (max-device-width: 1200px) {
  a {
    color: red;
  }
}
@media screen and ((min-device-width: 500px) and (max-device-width: 1200px)) {
  a {
    color: red;
  }
}
@media screen and ((min-device-width: 0) and (max-device-width: 500.58px)) {
  a {
    color: red;
  }
}
@media screen and (device-width) and ((min-device-width: .08px) and (max-device-width: 0.68px)) {
  a {
    color: red;
  }
}
@media screen and (min-device-height: 500px) and (max-device-height: 1200px) {
  a {
    color: red;
  }
}
@media screen and ((min-device-height: 500px) and (max-device-height: 1200px)) {
  a {
    color: red;
  }
}
@media screen and ((min-device-height: 0) and (max-device-height: 500.58px)) {
  a {
    color: red;
  }
}
@media screen and (device-height) and ((min-device-height: .08px) and (max-device-height: 0.68px)) {
  a {
    color: red;
  }
}
@media screen and (min-device-aspect-ratio: 1/1000) and (max-device-aspect-ratio: 16/9) {
  a {
    color: red;
  }
}
@media screen and ((min-device-aspect-ratio: 1/1000) and (max-device-aspect-ratio: 16/9)) {
  a {
    color: red;
  }
}
@media screen and ((min-device-aspect-ratio: 0/0) and (max-device-aspect-ratio: 16/9)) {
  a {
    color: red;
  }
}
@media screen and (device-aspect-ratio) and ((min-device-aspect-ratio: 1/1000) and (max-device-aspect-ratio: 16/9)) {
  a {
    color: red;
  }
}
@media screen and (min-color: 0) and (max-color: 8) {
  a {
    color: red;
  }
}
@media screen and ((min-color: 0) and (max-color: 8)) {
  a {
    color: red;
  }
}
@media screen and (color) and ((min-color: 6) and (max-color: 256)) {
  a {
    color: red;
  }
}
@media screen and (min-color-index: 0) and (max-color-index: 8) {
  a {
    color: red;
  }
}
@media screen and ((min-color-index: 0) and (max-color-index: 8)) {
  a {
    color: red;
  }
}
@media screen and (color-index) and ((min-color-index: 6) and (max-color-index: 256)) {
  a {
    color: red;
  }
}
@media screen and (min-aspect-ratio: 1/1000) and (max-aspect-ratio: 16/9) {
  a {
    color: red;
  }
}
@media screen and ((min-aspect-ratio: 1/1000) and (max-aspect-ratio: 16/9)) {
  a {
    color: red;
  }
}
@media screen and ((min-aspect-ratio: 0/0) and (max-aspect-ratio: 16/9)) {
  a {
    color: red;
  }
}
@media screen and (aspect-ratio) and ((min-aspect-ratio: 1/1000) and (max-aspect-ratio: 16/9)) {
  a {
    color: red;
  }
}
@media screen and (min-width: 500.001px) and (max-width: 1200px) {
  a {
    color: red;
  }
}
@media screen and ((min-width: 500px) and (max-width: 1200px)) {
  a {
    color: red;
  }
}
@media screen and ((min-width: 0) and (max-width: 500.58px)) {
  a {
    color: red;
  }
}
@media screen and (width) and ((min-width: .08px) and (max-width: 0.68px)) {
  a {
    color: red;
  }
}
@media screen and (min-height: 500px) and (max-height: 1200px) {
  a {
    color: red;
  }
}
@media screen and ((min-height: 500px) and (max-height: 1200px)) {
  a {
    color: red;
  }
}
@media screen and ((min-height: 0) and (max-height: 500.58px)) {
  a {
    color: red;
  }
}
@media screen and (height) and ((min-height: .08px) and (max-height: 0.68px)) {
  a {
    color: red;
  }
}
@media screen and (min-aspect-ratio: 1.001/1000) {
  a {
    color: red;
  }
}
@media screen and (max-aspect-ratio: 0.999/1000) {
  a {
    color: red;
  }
}
@media screen and (max-aspect-ratio: 0.999/1000) {
  a {
    color: red;
  }
}
@media screen and (max-color: 9) {
  a {
    color: red;
  }
}
@media screen and (min-color: 11) {
  a {
    color: red;
  }
}
@media ((max-width: 1023.999px) and (min-width: 768px)) {
  a {
    color: red;
  }
}
@media ((max-width: 1024px) and (min-width: 768px)) {
  a {
    color: red;
  }
}
@media ((min-width: 1024.001px) and (max-width: 768px)) {
  a {
    color: red;
  }
}
@media ((min-width: 1024px) and (max-width: 767.999px)) {
  a {
    color: red;
  }
}
@media ((max-width: 99.999px) and (min-width: 400.001px)) {
  a {
    color: red;
  }
}
@media ((max-width: 99.999px) and (min-width: 400.001px)) {
  a {
    color: red;
  }
}
@media ((min-width: 100.001px) and (max-width: 399.999px)) {
  a {
    color: red;
  }
}
@media ((max-width: 767.999px) and (min-width: 768.001px)) {
  a {
    color: red;
  }
}
@media ((min-width: 768.001px) and (max-width: 767.999px)) {
  a {
    color: red;
  }
}
@media ((min-width: 768px) and (max-width: 768px)) {
  a {
    color: red;
  }
}
@media ((max-width: 767.999px) and (min-width: 768.001px)) {
  a {
    color: red;
  }
}
@media ((max-width: 768px) and (min-width: 768px)) {
  a {
    color: red;
  }
}
@media ((max-width: 199.999px) and (min-width: 500.001px)) {
  a {
    color: red;
  }
}
@media ((max-width: 199.999px) and (min-width: 500px)) {
  a {
    color: red;
  }
}
@media ((max-width: 200px) and (min-width: 500.001px)) {
  a {
    color: red;
  }
}
@media ((max-width: 200px) and (min-width: 500px)) {
  a {
    color: red;
  }
}
