{
    "jsc": {
        "parser": {
            "syntax": "typescript",
            "dynamicImport": true
        },
        "transform": {
            "legacyDecorator": true,
            "decoratorMetadata": true
        },
        "target": "es2020",
        "keepClassNames": true,
        "loose": true
    },
    "module": {
        "type": "commonjs",
        "strict": true,
        "strictMode": true,
        "lazy": false,
        "noInterop": true
    },
    "sourceMaps": true,
    "exclude": ["node_modules/.*", ".*/node_modules", "dist", ".*.spec.ts"]
}
