{
    "jsc": {
        "transform": {
            "optimizer": {
                "simplify": false,
                "globals": {
                    "vars": {
                        "process.browser": "true"
                    }
                }
            }
        }
    }
}
