{
    "$schema": "https://swc.rs/schema.json",
    "jsc": {
        "parser": {
            "syntax": "typescript",
            "decorators": true,
            "dynamicImport": true,
            "dts": true,
            "tsx": false
        },
        "target": "es5",
        "baseUrl": "./",
        "preserveAllComments": false,
        "experimental": {
            "emitIsolatedDts": true
        },
        "paths": {
            "@lib/*": [
                "src/*"
            ],
            "@tests/*": [
                "tests/*"
            ]
        },
        "loose": false
    },
    "module": {
        "type": "commonjs",
        "strict": true,
        "strictMode": true,
        "lazy": false,
        "noInterop": false
    },
    "minify": false,
    "isModule": true
}