{
    "jsc": {
        "lints": {
            "noRestrictedSyntax": [
                "error",
                {
                    "LabelStatement": [
                        {
                            "message": "no label statement"
                        }
                    ]
                }
            ]
        }
    }
}