{
    "jsc": {
        "lints": {
            "use-isnan": [
                "error",
                {
                    "enforceForSwitchCase": false
                }
            ]
        }
    }
}