{
    "jsc": {
        "parser": {
            "syntax": "ecmascript",
            "jsx": false
        },
        "target": "es2015",
        "loose": false,
        "minify": {
            "compress": false,
            "mangle": false
        }
    },
    "module": {
        "type": "es6",
        "strict": false,
        "strictMode": false,
        "lazy": false,
        "noInterop": false
    },
    "minify": false
}