{
    "jsc": {
        "parser": {
            "syntax": "ecmascript",
            "jsx": false
        },
        "loose": false,
        "minify": {
            "compress": false,
            "mangle": false
        }
    },
    "module": {
        "type": "es6"
    },
    "env": {
        "targets": [
            "chrome >= 51",
            "edge >= 15",
            "firefox >= 54",
            "safari >= 10",
            "ios_saf >= 10"
        ],
    },
    "minify": false,
    "isModule": true
}