:root {
	--firebrick: rgb(179, 35, 35);
	--firebrick-a50: rgba(179, 34, 35, 0.5);

	--opacity-50: 0.5;
	--firebrick-a50-var: rgba(179, 34, 35, var(--opacity-50));

	--fifty: 50;
	--firebrick-var: lch(40% var(--fifty) 34.5 / var(--opacity-50));
}

@supports (color: color(display-p3 0 0 0)) {
:root {
	--firebrick: color(display-p3 0.64331 0.19245 0.16771);
}
}

@supports (color: color(display-p3 0 0 0)) {
:root {
	--firebrick-a50: color(display-p3 0.64368 0.19188 0.16791 / 50%);
}
}

@supports (color: color(display-p3 0 0 0)) {
:root {
	--firebrick-a50-var: color(display-p3 0.64368 0.19188 0.16791 / var(--opacity-50));
}
}
