{
    "jsc": {
        "lints": {
            "no-use-before-define": [
                "error",
                {
                    "classes": true
                }
            ]
        }
    }
}
