{
    "sourceMaps": false,
    "jsc": {
        "loose": true,
        "parser": {
            "syntax": "ecmascript",
            "classPrivateProperty": true
        },
        "target": "es3"
    }
}