{
    "jsc": {
        "lints": {
            "prefer-const": [
                "error",
                {
                    "ignoreReadBeforeAssign": true
                }
            ]
        }
    }
}
