{
    "jsc": {
        "parser": {
            "syntax": "ecmascript"
        },
        "transform": {
            "optimizer": {
                "globals": {
                    "vars": {}
                }
            }
        },
        "loose": true,
        "target": "es2021",
        "externalHelpers": true
    },
    "module": {
        "type": "commonjs"
    }
}