@value v-def from '../../composes/values.css';
@value v-primary: #BF4040;
@value s-black: black-selector;
@value m-large: (min-width: 960px);
.__local__header {
  color: v-primary;
  padding: 0 10px;
}
.__local__s-black {
  color: black;
}
@media m-large and (max-width: 1024px) {
  .__local__header {
    color: v-def;
    padding: 0 20px;
  }
}
