{
    "jsc": {
        "lints": {
            "noEmptyFunction": [
                "error",
                {
                    "considerComments": false
                }
            ]
        }
    }
}