@-webkit-keyframes anim {}
@-moz-keyframes anim {}
@-o-keyframes anim {}
@keyframes anim {}
@-webkit-keyframes anim {
  0% {
    color: red;
  }
}
@-moz-keyframes anim {
  0% {
    color: red;
  }
}
@-o-keyframes anim {
  0% {
    color: red;
  }
}
@keyframes anim {
  0% {
    color: red;
  }
}
