.class1 {
    width: calc(constant(safe-area-inset-left));
}

.class2 {
    width: calc(env(safe-area-inset-left));
}

.class3 {
    width: calc(env(safe-area-inset-left, 50px 20px));
}

.class4 {
    width: calc(unknown(safe-area-inset-left));
}

.class5 {
    width: calc(unknown(#fff) - other-unknown(200px));
}

.class6 {
    width: calc(unknown(#fff) * other-unknown(200px));
}
