@value def: red;
.__local__foo1 {
  prop: func(def);
}
.__local__foo2 {
  prop: func(10px def);
}
.__local__foo3 {
  prop: func(def 10px);
}
.__local__foo4 {
  prop: func(10px def 10px);
}
.__local__foo5 {
  prop: func(10px, def);
}
.__local__foo6 {
  prop: func(def, 10px);
}
.__local__foo7 {
  prop: func(10px, def, 10px);
}
