{
    "jsc": {
        "parser": {
            "syntax": "typescript",
            "tsx": false,
            "decorators": true,
            "loose": true
        },
        "target": "es2022"
    }
}