{
    "jsc": {
        "parser": {
            "syntax": "typescript",
            "decorators": true
        },
        "lints": {
            "noUseBeforeDefine": [
                "error",
                {
                    "classes": true
                }
            ]
        }
    }
}