.class {
  background: none;
}
.class {
  background: -webkit-image-set(url(foo.jpg) 2x);
  background: image-set(url(foo.jpg) 2x);
}
.class {
  background-image: -webkit-image-set(url(foo.jpg) 2x);
  background-image: image-set(url(foo.jpg) 2x);
}
.class {
  background: filter(url('image.jpg'), blur(2px));
}
.class {
  background: filter(url('image.jpg'), blur(2px));
}
.class {
  background: url(image.jpg), filter(url('image.jpg'), blur(2px));
}
