@font-face{
  src: format("woff");
  src: format(woff);
}
@font-face{
  src: url(a) format("woff"), url(b) format("svg");
  src: url(a) format(woff), url(b) format(svg);
}
@font-face{
  src: format("woff"), format("truetype"), format("opentype"), format("woff2"), format("embedded-opentype"), format("collection"), format("svg");
  src: format(woff), format(truetype), format(opentype), format(woff2), format(embedded-opentype), format(collection), format(svg);
}
@Font-face{
  src: FORMAT("woff");
  src: FORMAT(WOFF);
}
@font-face{
  src: format("woff");
}
@font-face{
  src: url(a) format("woff"), url(b) format("svg");
  src: url(a) format("woff"), url(b) format(svg);
}
@font-face{
  src: url(a) format("woff"), url(b) format("svg");
}
