{
    "jsc": {
        "paths": {
            "~/*": [
                "./src/*"
            ]
        },
        "baseUrl": "./",
        "parser": {
            "syntax": "typescript",
            "tsx": true,
            "decorators": true,
            "dynamicImport": true
        },
        "transform": {
            "react": {
                "runtime": "automatic"
            }
        }
    },
    "module": {
        "type": "es6"
    }
}