{
    "jsc": {
        "parser": {
            "syntax": "typescript",
            "decorators": true
        },
        "target": "es2020",
        "transform": {
            "legacyDecorator": true
        }
    },
    "module": {
        "type": "commonjs",
        "lazy": true
    }
}