{
    "jsc": {
        "transform": {
            "optimizer": {
                "simplify": false,
                "globals": {
                    "vars": {
                        "value.debug": "true",
                        "value": "'foo'"
                    }
                }
            }
        }
    }
}
