{
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": false
    },
    "target": "es5",
    "transform": {
      "react": {
        "runtime": "automatic",
        "useBuiltins": true
      }
    },
    "minify": {
      "compress": false,
      "mangle": false
    },
    "loose": false
  },
  "module": {
    "type": "es6"
  },
  "minify": false
}