@-webkit-keyframes test {
  0% {
    color: red;
  }
}
@-moz-keyframes test {
  0% {
    color: red;
  }
}
@-o-keyframes test {
  0% {
    color: red;
  }
}
@keyframes test {
  0% {
    color: red;
  }
}
@supports ((flex-wrap: wrap) or (-webkit-flex-wrap: wrap) or (-ms-flex-wrap: wrap)) {
  @-webkit-keyframes test {
    0% {
      color: red;
    }
  }
  @-moz-keyframes test {
    0% {
      color: red;
    }
  }
  @-o-keyframes test {
    0% {
      color: red;
    }
  }
  @keyframes test {
    0% {
      color: red;
    }
  }
}
@supports ((flex-wrap: wrap) or (-webkit-flex-wrap: wrap) or (-ms-flex-wrap: wrap)) {
  @supports ((flex-wrap: wrap) or (-webkit-flex-wrap: wrap) or (-ms-flex-wrap: wrap)) {
    @-webkit-keyframes test {
      0% {
        color: red;
      }
    }
    @-moz-keyframes test {
      0% {
        color: red;
      }
    }
    @-o-keyframes test {
      0% {
        color: red;
      }
    }
    @keyframes test {
      0% {
        color: red;
      }
    }
  }
}
.test {
  &.class::-webkit-input-placeholder {
    color: red;
  }
  &.class:-moz-placeholder {
    color: red;
  }
  &.class::-moz-placeholder {
    color: red;
  }
  &.class:-ms-input-placeholder {
    color: red;
  }
  &.class::-ms-input-placeholder {
    color: red;
  }
  &.class::placeholder {
    color: red;
  }
}
.test {
  &.class::-webkit-input-placeholder {
    -webkit-appearance: auto;
    appearance: auto;
  }
  &.class:-moz-placeholder {
    -moz-appearance: auto;
    appearance: auto;
  }
  &.class::-moz-placeholder {
    -moz-appearance: auto;
    appearance: auto;
  }
  &.class:-ms-input-placeholder {
    -ms-appearance: auto;
    appearance: auto;
  }
  &.class::-ms-input-placeholder {
    -ms-appearance: auto;
    appearance: auto;
  }
  &.class::placeholder {
    -webkit-appearance: auto;
    -moz-appearance: auto;
    -ms-appearance: auto;
    appearance: auto;
  }
}
.test {
  -webkit-appearance: auto;
  -moz-appearance: auto;
  -ms-appearance: auto;
  appearance: auto;
  &.class {
    color: red;
  }
}
.test {
  -webkit-appearance: auto;
  -moz-appearance: auto;
  -ms-appearance: auto;
  appearance: auto;
  &.class {
    -webkit-appearance: auto;
    -moz-appearance: auto;
    -ms-appearance: auto;
    appearance: auto;
  }
}
.test {
  @supports (foo: bar) {
    -webkit-appearance: auto;
    -moz-appearance: auto;
    -ms-appearance: auto;
    appearance: auto;
  }
}
.test {
  @media (orientation: landscape) {
    -webkit-appearance: auto;
    -moz-appearance: auto;
    -ms-appearance: auto;
    appearance: auto;
  }
}
.test {
  -webkit-appearance: auto;
  -moz-appearance: auto;
  -ms-appearance: auto;
  appearance: auto;
  &.class::-webkit-input-placeholder {
    -webkit-appearance: auto;
    appearance: auto;
  }
  &.class:-moz-placeholder {
    -moz-appearance: auto;
    appearance: auto;
  }
  &.class::-moz-placeholder {
    -moz-appearance: auto;
    appearance: auto;
  }
  &.class:-ms-input-placeholder {
    -ms-appearance: auto;
    appearance: auto;
  }
  &.class::-ms-input-placeholder {
    -ms-appearance: auto;
    appearance: auto;
  }
  &.class::placeholder {
    -webkit-appearance: auto;
    -moz-appearance: auto;
    -ms-appearance: auto;
    appearance: auto;
  }
  @media (orientation: landscape) {
    -webkit-appearance: auto;
    -moz-appearance: auto;
    -ms-appearance: auto;
    appearance: auto;
  }
}
@media (orientation: landscape) {
  .test {
    &.class::-webkit-input-placeholder {
      -webkit-appearance: auto;
      appearance: auto;
    }
    &.class:-moz-placeholder {
      -moz-appearance: auto;
      appearance: auto;
    }
    &.class::-moz-placeholder {
      -moz-appearance: auto;
      appearance: auto;
    }
    &.class:-ms-input-placeholder {
      -ms-appearance: auto;
      appearance: auto;
    }
    &.class::-ms-input-placeholder {
      -ms-appearance: auto;
      appearance: auto;
    }
    &.class::placeholder {
      -webkit-appearance: auto;
      -moz-appearance: auto;
      -ms-appearance: auto;
      appearance: auto;
    }
  }
}
@media (orientation: landscape) {
  .test {
    -webkit-appearance: auto;
    -moz-appearance: auto;
    -ms-appearance: auto;
    appearance: auto;
    &.class {
      -webkit-appearance: auto;
      -moz-appearance: auto;
      -ms-appearance: auto;
      appearance: auto;
    }
  }
}
.test {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  &.class {
    -webkit-appearance: auto;
    -moz-appearance: auto;
    -ms-appearance: auto;
    appearance: auto;
    &.class {
      -webkit-appearance: menulist-button;
      -moz-appearance: menulist-button;
      -ms-appearance: menulist-button;
      appearance: menulist-button;
      &.class {
        -webkit-appearance: button;
        -moz-appearance: button;
        -ms-appearance: button;
        appearance: button;
      }
    }
  }
}
